<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container" >
      <div class="row mb-1">
        <div class="col-md-6 col-lg-3">
          <div class="ftco-footer-widget mb-1">
            <h2 class="ftco-heading-2">Get In Touch</h2>
            <div class="block-23 mb-3">
              <ul>
                <li><span class="icon icon-map-marker"></span><span class="text" style="color: white;"> Sr. No.211/3, Gawalinagar, Near Balaji Super Market, Bhosari, <br> Pune - 411 039.</span></li>
                <li><a href="tel:+91 8830554973"><span class="icon icon-phone"></span><span class="text">+91 883 055 4973</span></a></li>
                <li><a href="tel:+91 9175009797"><span class="icon icon-phone"></span><span class="text">+91 917 500 9797</span></a></li>
                <li style="word-wrap: break-word; "><a href="mailto:yashwant.dhadave@deximsolutions.com"><span class="icon icon-envelope"></span>
                  <span class="text "><span class="__cf_email__" data-cfemail="">Yashwant.Dhadave@deximsolutions.com</span></span></a>
                </li>
                <li style="word-wrap: break-word;"><a href="mailto:rahul.dhadave@deximsolutions.com"><span class="icon icon-envelope"></span>
                  <span class="text "><span class="__cf_email__" data-cfemail="">Rahul.Dhadave@deximsolutions.com</span></span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="ftco-footer-widget services-footer mb-3">
            <h2 class="ftco-heading-2">Services</h2>
           <a routerLink="/pages/Import-Export-Service"><i class="fa fa-arrow-right" aria-hidden="true"></i>Import-Export Service Provider</a><br>
           <a routerLink="/pages/Import-Export-Consultants"><i class="fa fa-arrow-right" aria-hidden="true"></i>Import-Export Consultants</a><br>
           <a routerLink="/pages/Distributor"><i class="fa fa-arrow-right" aria-hidden="true"></i>Distributor</a><br>
           <a routerLink="/pages/Company-Registration"><i class="fa fa-arrow-right" aria-hidden="true"></i>Company Registration</a><br>
           <a routerLink="/pages/Business-Advisor"><i class="fa fa-arrow-right" aria-hidden="true"></i>Business Advisor</a><br>
           <a routerLink="/pages/Co-Ordination-with-Authorities"><i class="fa fa-arrow-right" aria-hidden="true"></i>Co-Ordination with Authorities</a><br>
           <a routerLink="/pages/Manage-Franchises"><i class="fa fa-arrow-right" aria-hidden="true"></i>Manage Franchises</a><br>
           
           <a  routerLink="/pages/Strategy-Formulator"><i class="fa fa-arrow-right" aria-hidden="true"></i>Strategy Formulator</a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="ftco-footer-widget mb-1 ml-md-1">
            <h2 class="ftco-heading-2">Useful Links</h2>
            <ul class="list-unstyled list-unstyled-my ">
              <li><a routerLink=""><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
              <li><a routerLink="/pages/Merchant-Export"><span class="ion-ios-arrow-round-forward mr-2"></span>Merchant Export</a></li>
              <li><a routerLink="/pages/Gallary"><span class="ion-ios-arrow-round-forward mr-2"></span>Gallary</a></li>
              <li><a routerLink="/pages/contact"><span class="ion-ios-arrow-round-forward mr-2"></span>Contact</a></li>

              <li><a routerLink="/pages/Brand-Building"><span class="ion-ios-arrow-round-forward mr-2"></span>Brand Building</a></li>
              <li><a  routerLink="/pages/VFX-Animation"><span class="ion-ios-arrow-round-forward mr-2"></span>VFX Animation</a></li>
              <li><a routerLink="/pages/Trade-Marchant-Exporters"><span class="ion-ios-arrow-round-forward mr-2"></span>Trader/Merchant Exporters</a></li>
              <li><a routerLink="/pages/Market-Leadership-Products"><span class="ion-ios-arrow-round-forward mr-2"></span>Market Leadership for Products</a></li>

            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">

          <div class="ftco-footer-widget mb-3">
            <h2 class="ftco-heading-2 mb-4">Connect With Us</h2>
            <div class="ftco-footer-widget">
              <img width="100%" src="assets/images/footer.png">
            </div>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
              <li><a href="https://twitter.com/SolutionsExim"><span class="icon-twitter"></span></a></li>
              <li><a href="https://youtube.com/channel/UCkhOvnXEZxpOXIfb9U4ZNIg"><span class="icon-youtube"></span></a></li>
              <li><a href="https://m.facebook.com/story.php?story_fbid=103601245059112&id=103596911726212"><span class="icon-facebook"></span></a></li>
              <li><a href="https://www.instagram.com/deximsolutions/"><span class="icon-instagram"></span></a></li>
              <li><a href="https://api.whatsapp.com/send?phone=+91 9096889163"><span class="icon-whatsapp"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="zpluscybertec" style="margin-bottom:0;">
            Copyright &copy; 2021 | D-Exim Solutions Pvt. Ltd. | All rights reserved | Designed & Developed  by&nbsp; 
            <i class="fa fa-arrow-circle-right text-primary" aria-hidden="true"></i> <a class="text-capitalize text-white " href="https://zpluscybertech.com/"
              target="_blank">&nbsp; zplus cyber secure technologies pvt ltd</a>
          </p>
        </div>
      </div>
    </div>
  </footer>

