<section class="hero-wrap hero-wrap-2" style="background-image: url(../../assets/images/bg_1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9  text-center">
                <h1 class="mb-2 bread text-capitalize">Co-Ordination with various Authorities</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>Co-Ordination with Authorities<i
                            class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="my-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 text-center heading-section ">
                <h2 style="border-bottom: 1px solid black;">D Exim Solutions Pvt. Ltd. Market Ledership For Products Services...! </h2>
                <p>To resolve the problems in Import Export Business we provide following diifrent services.                </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-ship"></span></div>
                    <div class="text media-body">
                        <h3>Export promotion agencies</h3>
                        <p>Export promotion agencies have different source of contacts in international level. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-trophy"></span></div>
                    <div class="text media-body">
                        <h3>Commodity Board</h3>
                        <p>Commodity Board also plays a vital role in international marketing to help their members to find a foreign market.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-shield"></span></div>
                    <div class="text media-body">
                        <h3>Government Embassies</h3>
                        <p>Respective Government embassies extend their service in helping exporters to find an international market in their country.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 d-flex"></div>

            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-handshake-o"></span>
                    </div>
                    <div class="text media-body">
                        <h3>Personal Meet</h3>
                        <p>Once you have a personal contact, you can visit the buyer in person and generate a good business relationship.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 d-flex"></div>

            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-rocket"></span>
                    </div>
                    <div class="text media-body">
                        <h3>Appointing a Agent</h3>
                        <p>Some of the exporters appoint an agent in the targeting country, and through the said agent exporter orders are procured</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 d-flex"></div>
        </div>
    </div>
</section>


<section class="ftco-intro ftco-no-pb img" style="background-image: url(../../assets/images/bg_3.jpg);">
    <div class="container">
        <div class="row justify-content-center mb-1">
            <div class="col-md-10 text-center heading-section heading-section-white ">
                <h2 class="mb-0">Our Co-Ordination with various Authorities Services...! </h2>
            </div>
        </div>
    </div>
</section>

<section class="registration">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>Export promotion agencies</h2>
                <p> <i class="fa fa-angle-double-right"></i>
                    Export promotion agencies have different source of contacts in international level. They help you to guide proper marketing in the trade. They also extend their services in finding buyers for your product.
                </p>

            </div>

            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i> Commodity Board

                </h2>
                <p> <i class="fa fa-angle-double-right"></i> Commodity Board also plays a vital role in international marketing to help their members to find a foreign market. You can have a frequent contact with them for necessary sales leads to communicate.
                </p>


            </div>
            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i> Government Embassies
                </h2>
                <p> <i class="fa fa-angle-double-right"></i> <b>Government Embassies: </b> Respective Government embassies extend their service in helping exporters to find an international market in their country.
                </p>

            </div>
            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i> Personal Meet</h2>
                <p> <i class="fa fa-angle-double-right"></i>Personal meet: Once you have a personal contact, you can visit the buyer in person and generate a good business relationship.

                </p>
           

            </div>

            <div class="col-md-12  heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>Appointing a Agent</h2>
                <p ><i class="fa fa-angle-double-right"></i> <b>Appointing an Agent:</b> Some of the exporters appoint an agent in the targeting country, and through the said agent exporter orders are procured. All the required services are done by this agent including the technical problems if any.

                </p>
                
                <p class="mb-5"><i class="fa fa-angle-double-right"></i> <b>Through contacts of friends and relatives:</b> Personal relationship of friends and relatives also helps to generate a good business relationship between buyer and seller for mutual benefits.  Also read - Terms of Payment in Export and Import    What happens if overseas buyer not paid export bills discounted  

                </p>             

            </div>

         

        </div>
    </div>
</section>