<section class="hero-wrap hero-wrap-2" style="background-image: url(../../assets/images/bg_1.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9  text-center">
        <h1 class="mb-2 bread">Contact Us</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i
                class="ion-ios-arrow-forward"></i></a></span> <span>Contact-us <i
              class="ion-ios-arrow-forward"></i></span></p>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section contact-section">
  <div class="container">
    <div class="text-center mb-4">
      <h2>Let's Connect..!</h2>
      <h5>We'd love to help you start exceeding your Import-Export Goals.</h5>
    </div>

    <hr style="border-bottom: 1px;">
    <div class="row d-flex mb-5 contact-info justify-content-center">


      <div class="col-md-12">
        <div class="row contact-director">
          <div class="col-md-3">
            <div class="information">
              <div class="icon-bar text-center ">
                <i class="fa fa-user-circle-o"></i>
              </div>
              <h5 class="text-center"> Mr. Yashwant Dhadave <br>(Founder - CEO)</h5>
              <p class="text-center contact-num">Contact Number :</p>
              <ul>
                <li><i class="fa fa-phone-square" aria-hidden="true"></i>
                  <a href="tel://9096889163">+91 909 688 9163</a>
                </li>
                <li><i class="fa fa-phone-square" aria-hidden="true"></i>
                  <a href="tel://883 055 4973">+91 883 055 4973</a>
                </li>
              </ul>
              <p class="text-center contact-num">Email ID :</p>

              <ul>
                <li> <i class="fa fa-envelope" aria-hidden="true"></i>
                  <a href="mailto:yashwantdhadave@gmail.com">yashwantdhadave@gmail.com</a>
                </li>
                <li>
                  <i class="fa fa-envelope " aria-hidden="true"></i>
                  <a href="mailto:yashwant.dhadave@deximsolutions.com">Yashwant.Dhadave@deximsolutions.com</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="information">
              <div class="icon-bar text-center ">
                <i class="fa fa-user-circle-o"></i>
              </div>
              <h5 class="text-center"> Mr. Rahul Dhadave <br> (Media Partner)</h5>
              <p class="text-center contact-num">Contact Number :</p>
              <ul>
                <li><i class="fa fa-phone-square" aria-hidden="true"></i>
                  <a href="tel://917 500 9797">+91 917 500 9797</a>
                </li>
                <li><i class="fa fa-phone-square" aria-hidden="true"></i>
                  <a href="tel://702 055 2911">+91 702 055 2911</a>
                </li>
              </ul>
              <p class="text-center contact-num">Email ID :</p>

              <ul>
                <li> <i class="fa fa-envelope" aria-hidden="true"></i>
                  <a href="mailto:rahuldhadave@gmail.com">rahuldhadave@gmail.com</a>
                </li>
                <!-- <br> -->
                <li>
                  <i class="fa fa-envelope " aria-hidden="true"></i>
                  <a href="mailto:rahul.dhadave@deximsolutions.com">Rahul.Dhadave@deximsolutions.com</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="information">
              <div class="icon-bar text-center ">
                <i class="fa fa-user-circle-o"></i>
              </div>
              <h5 class="text-center">Mr. Rajendra Dhadave <br> (Insurance & Marketing)</h5>
              <p class="text-center contact-num">Contact Number :</p>
              <ul class="text-center">
                <li><i class="fa fa-phone-square" aria-hidden="true"></i>
                  <a href="tel://7719808788">+91 7719 808 788</a>
                </li>
                <li><i class="fa fa-phone-square" aria-hidden="true"></i>
                  <a href="tel://8459627884">+91 8459 627 884</a>
                </li>
              </ul>
              <p class="text-center contact-num">Email ID :</p>

              <ul >
                <li> <i class="fa fa-envelope" aria-hidden="true"></i>
                  <a style="font-size: 15px;"
                    href="mailto:dhadaverajendra882@gmail.com">dhadaverajendra882@gmail.com</a>
                </li>
                <!-- <br> -->
                <li>
                  <i class="fa fa-envelope " aria-hidden="true"></i>
                  <a href="mailto:rajendra.dhadave@deximsolutions.com">Rajendra.Dhadave@deximsolutions.com</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="information">
              <div class="icon-bar text-center ">
                <i class="fa fa-user-circle-o"></i>
              </div>
              <h5 class="text-center"> Mr. Ganesh Dhadave <br> (Manpower supplier)</h5>
              <p class="text-center contact-num">Contact Number :</p>
              <ul>
                <li><i class="fa fa-phone-square" aria-hidden="true"></i>
                  <a href="tel://9730622146">+91 9730 622 146</a>
                </li>
                <li><i class="fa fa-phone-square" aria-hidden="true"></i>
                  <a href="tel://7721827273">+91 7721 827 273</a>
                </li>
              </ul>
              <p class="text-center contact-num">Email ID :</p>

              <ul>
                <li> <i class="fa fa-envelope" aria-hidden="true"></i>
                  <a href="mailto:d.dhadave@gmail.com">d.dhadave@gmail.com</a>
                </li>
                <!-- <br> -->
                <li>
                  <i class="fa fa-envelope " aria-hidden="true"></i>
                  <a href="mailto:ganesh.hadave@deximsolutions.com">Ganesh.Dhadave@deximsolutions.com</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-2">
        <div class="text-center information py-4">
          <div class="icon">
            <span class="fa fa-link"></span>
          </div>
          <p><span>Connect with Social Media</span></p>
          <div class="row social-media">
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
              <a href="https://m.facebook.com/story.php?story_fbid=103601245059112&id=103596911726212"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-2">
              <a href="https://www.instagram.com/deximsolutions/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-2">
              <a href="https://youtube.com/channel/UCkhOvnXEZxpOXIfb9U4ZNIg"><i class="fa fa-youtube" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-2">
              <a href="https://twitter.com/SolutionsExim"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-2">
              <a href="https://api.whatsapp.com/send?phone=+91 9096889163" class="whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-1">
              <!-- <a href="#"><i class="fa fa-android" aria-hidden="true"></i></a> -->
            </div>
          </div>
        </div>
        <!-- <div class="col-md-4"></div> -->

      </div>
      <div class="col-md-4 mt-2">
        <div class="text-center information py-4">
          <div class="icon">
            <span class="icon-map-o"></span>
          </div>
          <p><span>Address:</span> <b>D-Exim Solutions Pvt. Ltd.</b> <br>
            Sr. No.211/3, Gawalinagar, Near Balaji Super Market, Bhosari, Pune - 411 039.</p>
        </div>
        <!-- <div class="col-md-4"></div> -->

      </div>
    </div>
    <div class="row block-9 justify-content-center mb-1">
      <div class="col-md-6 mb-md-5">
        <h2 class="text-center">If you got any questions <br>please do not hesitate to send us a message</h2>
        <form action="#" class="bg-light p-5 contact-form">
          <div class="form-group">
            <input type="text" class="form-control" name="name" class="form-control"  onkeypress='return event.charCode>=97 && event.charCode <=122 || event.charCode>=65 && event.charCode <=90 || event.charCode == 32' placeholder="Name" [(ngModel)]="sendEmailModel.name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control"name="email" placeholder="Email Address" [(ngModel)]="sendEmailModel.email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="mobileNo" placeholder="Phone" maxlength="10" minlength="10" onkeypress='return event.charCode>=48 && event.charCode <=57' [(ngModel)]="sendEmailModel.mobileNo">
          </div>
          <div class="form-group">
            <textarea  name="message" cols="30" rows="2" class="form-control" placeholder="Message" [(ngModel)]="sendEmailModel.message"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" value="Send Message" (click)="SendEmail()" [disabled]="sendEmailModel.name == null || sendEmailModel.email == null || sendEmailModel.mobileNo == null || sendEmailModel.message == null " class="btn btn-primary py-3 px-5">
          </div>
        </form>
      </div>
      <div class="col-md-6 mb-md-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15123.481733289444!2d73.8566087!3d18.6248966!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf0c4bd24277f993b!2sD%20EXIM%20SOLUTIONS%20PVT.%20LTD.!5e0!3m2!1sen!2sin!4v1613125751607!5m2!1sen!2sin" class="google-map" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>
  </div>
</section>
<!-- <section class="ftco-section ftco-no-pb ftco-no-pt">
    <div class="container-fluid px-0">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div id="map" class="bg-white"></div>
        </div>
      </div>
    </div>
  </section> -->