<section class="hero-wrap hero-wrap-2" style="background-image: url(../../assets/images/bg_1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9  text-center">
                <h1 class="mb-2 bread">Other Supportive Services</h1>
                <p class="breadcrumbs"><span class="mr-2"><a routerLink="">Home <i class="ion-ios-arrow-forward"></i>
                        </a></span> <span>services<i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="my-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center heading-section ">
                <h2 style="border-bottom: 1px solid black;">D Exim Solutions Pvt.Ltd Other Services...! </h2>
                <p>To resolve the problems in Import Export Business we provide following diifrent services.</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-3 d-flex">
                <div class="services-2 noborder-left text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-id-badge"></span></div>
                    <div class="text media-body">
                        <h3>Certificate of Origin</h3>
                        <p>We are providing information of Certificate of Origin for import export their requiremnent.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 d-flex">
                <div class="services-2 text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-universal-access"></span></div>
                    <div class="text media-body">
                        <h3>GSP</h3>
                        <p>Generalized System of Preferences and Global System of Trade Preferences</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 d-flex">
                <div class="services-2 text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-diamond"></span></div>
                    <div class="text media-body">
                        <h3>AD Code Registration</h3>
                        <p>AD Code provided by a bank where exporter having his current account.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-codiepie"></span>
                    </div>
                    <div class="text media-body">
                        <h3>IFSC code regisration</h3>
                        <p>We also help in IFSC code regisration in Customs as per requirement</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-flickr"></span>
                    </div>
                    <div class="text media-body">
                        <h3>Annexure A filling</h3>
                        <p>Annexure A filling (IGST refund) and Export with payment of IGST</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-first-order"></span>
                    </div>
                    <div class="text media-body">
                        <h3>First Time Export Registration</h3>
                        <p> <b>D Exim Solutions Pvt. Ltd.</b> give assistant over First Time Export Registration for Import Export</p>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-registered"></span>
                    </div>
                    <div class="text media-body">
                        <h3>IEC gate registration</h3>
                        <p>To Check your duty drawback status and IGST refund status you have need to registred with IECgate.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-file-text"></span>
                    </div>
                    <div class="text media-body">
                        <h3>Documents submission in Range office</h3>
                        <p>we help to submit your export documents within 24 hors to your range officer.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 d-flex"></div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-industry"></span>
                    </div>
                    <div class="text media-body">
                        <h3>Factory Stuffing Permission</h3>
                        <p> FCL exports from their premises is they have factory stuffing permission.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 d-flex"></div>

            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-sellsy"></span>
                    </div>
                    <div class="text media-body">
                        <h3>Self Sealing Permission registration</h3>
                        <p>We support to registred factory stuffing permission in Customs also.</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- <hr style="border-bottom: 1px solid black;"> -->
    </div>
</section>

<section class="ftco-intro ftco-no-pb img" style="background-image: url(../../assets/images/bg_3.jpg);">
    <div class="container">
        <div class="row justify-content-center mb-1">
            <div class="col-md-10 text-center heading-section heading-section-white ">
                <h2 class="mb-0"> D Exim Solutions Pvt Ltd Other Supportive Services...! </h2>
            </div>
        </div>
    </div>
</section>

<section class="registration">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>Certificate of Origin
                </h2>

                <p> <i class="fa fa-angle-double-right"></i> <b>SAARC Preferential Trading Agreement:</b> Tariff concessions agreed upon by the seven SAARC nations among themselves
                </p>
                <p> <i class="fa fa-angle-double-right"></i> <b>Asia-Pacific Trade Agreement:</b> Aims for relaxation of the tariff as well as non-tariff obstacles across the Asia-Pacific region and India is a part of it

                </p>
                <p> <i class="fa fa-angle-double-right"></i> India-Sri Lanka Free Trade Agreement                </p>
                <p> <i class="fa fa-angle-double-right"></i> India-Thailand Free Trade Agreement
                </p>
                <p> <i class="fa fa-angle-double-right"></i> India-Malaysia Comprehensive Economic Cooperation Agreement
                </p>

                <p> <i class="fa fa-angle-double-right"></i> India-Korea Comprehensive Economic Partnership Agreement
                </p>
                <p> <i class="fa fa-angle-double-right"></i> India-Japan Comprehensive Economic Partnership Agreement</p>
                <p> <i class="fa fa-angle-double-right"></i> <b>ASEAN-India Free Trade Agreement:</b> An agreement for comprehensive economic cooperation between India and the 10 ASEAN countries</p>
            </div>
            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i> GSP</h2>

                <p> <i class="fa fa-angle-double-right"></i> <b>Generalized System of Preferences:</b> Unilateral tariff concessions granted to developing countries by selected developed countries
                </p>
                <p> <i class="fa fa-angle-double-right"></i> <b>Global System of Trade Preferences:</b> Tariff concessions exchanged between developing countries. India has this agreement with 12 countries at present and on a selected range of products
                </p>
               
            </div>
            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>AD Code registration in Customs</h2>
                <p> <i class="fa fa-angle-double-right"></i>Authorised Dealer Code (AD Code) is a 14-digit numerical code provided by a bank where exporter having his current account. Exporter need to register an AD Code at subject to port from where goods are going to cleared by customs.
                </p>
                
            </div>

            <div class="col-md-12  heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>IFSC code regisration in Customs</h2>
                <!-- <span>How to use the service of internet in marketing your product?</span> -->
                <p><i class="fa fa-angle-double-right"></i>Registration of the exporter/importer on Icegate website-www.icegate.gov.in is required to submit online request for AD/IFSC code which is one time activity If not registered, then the applicant is advised to get ICEGATE registration prior to AD code application.

                </p>
            </div>
            <div class="col-md-12  heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>Annexure A filling (IGST refund)</h2>
                <SPAn>Export with payment of IGST:</SPAn>
                <p><i class="fa fa-angle-double-right"></i>Exporters can claim the refund of IGST paid at the time of export. The GST refund process for exports in case of goods begins with by taking reference to a primary document known as shipping bill. The shipping bill and other export-related documents should be filed on the Indian Customs Electronic Commerce Gateway (ICEGATE). 

                </p>
                <p><i class="fa fa-angle-double-right"></i> <b>GSTR-1:</b> GST refund process for exports continues on the GST portal in form GSTR-1. These details are declared in GSTR-1 under Table ‘6A – Exports Invoices’. 
                </p>
            </div>

            <div class="col-md-12 first-time-export  heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>First Time Export Registration</h2>
                <span>Required below Documents for first time registration at
                    any PORT for Export in India :
                    </span>
                <p><i class="fa fa-angle-double-right"></i>  1) PAN CARD COPY
                </p>
                <p><i class="fa fa-angle-double-right"></i> 2) IEC COPY
                </p>
                <p><i class="fa fa-angle-double-right"></i> 3) COPY OF VAT & SALES TAX
                </p>
                <p><i class="fa fa-angle-double-right"></i> 4) REGISTRATION / EXEMPTION CERTIFICATE OF
                    THE MERCHANT EXPORTER
                </p>
                <p><i class="fa fa-angle-double-right"></i> 5) A D CODE LETTER FROM BANK
                </p>
                <p><i class="fa fa-angle-double-right"></i>  6) LATEST PASSED S/BILL FROM ANY EDI PORT
                </p>
                <p><i class="fa fa-angle-double-right"></i> 7) BALANCE SHEET OF THE PREVIOUS YEAR
                    COPY OF LAST IT RETURN , VAT OR SALES TAX
                    RETURN FILED
                     </p>
                <p><i class="fa fa-angle-double-right"></i> 9) FORWARDING LETTER ADDRESSED TO
                    ASSISTANT COMMISSIONER OF CUSTOM'
                     </p>


            </div>

            <div class="col-md-12  heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>IECgate registration
                </h2>
                <p><i class="fa fa-angle-double-right"></i>To Check your duty drawback status and IGST refund status you have need to registred with IECgate.
                </p>
            </div>
            <div class="col-md-12  heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>Documents submission in Range office
                </h2>
                <p><i class="fa fa-angle-double-right"></i>If you have factory stuffing permission in that case you have need to submit your export documents within 24 hors to your range officer.
                </p>
            </div>
            <div class="col-md-12  heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>Factory Stuffing Permission
                </h2>
                <p><i class="fa fa-angle-double-right"></i>This is most important permission who have full container load shipments, they can obtain FCL exports from their premises is they have factory stuffing permission.
                </p>
            </div>
            <div class="col-md-12  heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>Self Sealing Permission registration at Customs
                </h2>
                <p class="mb-5"><i class="fa fa-angle-double-right"></i>After you get factory stuffing permission you have to registred factory stuffing permission in Customs also.
                </p>
            </div>
        </div>
    </div>
</section>