.registration h2 i{
    color: #1b9ce3;
    font-size: 37px;
    margin-right: 1%;
}
.registration p {
    margin-left: 5%;
    margin-bottom: 0;
}
.registration p i{
    color: #1b9ce3;
    font-size: 20px;
    margin-right: 1%;
}

.registration span{
    margin-left: 5%;
    font-weight: bold;
    color: black;
}
.first-time-export p{
    text-transform: lowercase;
}