<!-- <mat-toolbar style="background-color:#1b9ce3;">
    <mat-toolbar-row> -->
        <!-- <img id="logo-header" src="assets/images/2021.png" width="105">
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="d-exim"> D Exim Solutions Pvt Ltd</span> -->





        <!-- <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px"> -->

<!--                 
                <li class="icon mobicon">
                    <button mat-icon-button>
                    <mat-icon>search</mat-icon>
                    
                    </button>
                    </li>
                    <li class="icon mobicon">
                    <button mat-icon-button>
                    <mat-icon >notifications_active</mat-icon>
                    </button>
                    </li>
                
                <li class="icon mobicon">
                    <button mat-icon-button>
                        <mat-icon>settings</mat-icon>
                    </button>
                </li>
                <li class="icon mobicon"  routerLink="/contact">
                    <button mat-icon-button>
                        <mat-icon>live_help</mat-icon>
                    </button>
                </li>
                <li class="icon proficon">
                    <button mat-icon-button>
                        <img src="./assets/img/download.png" class="userpfl" >
                    </button>
                </li> -->
                <!-- <li class="icon proficon"  class="justify-content-end" style="float:right">
                    <button mat-button [matMenuTriggerFor]="menu" class="text-right" style="float:right">{{userProfileModel.fullName}}
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <a routerLink="/profile"><button mat-menu-item>
                                <mat-icon>person_outline</mat-icon>
                                View Profile
                            </button></a>
                        <a routerLink="/userlogin"> <button mat-menu-item>
                                <mat-icon>exit_to_app</mat-icon>
                                Sign out

                            </button> </a>

                    </mat-menu>
                </li> -->
            <!-- </ul>
        </div> -->
        

        <nav class="navbar navbar-inverse" style="background-color:#64B5F6;">
            <div class="container-fluid">
            <div class="navbar-header">
            <!-- <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
            </button> -->
            <button mat-icon-button (click)="toggleSideBar()" style="font-size: 30px; color: black;">
                <mat-icon>menu</mat-icon>
            </button>
            <img id="logo-header" src="assets/images/2021.png" width="105">
            <span class="d-exim"> D Exim Solutions Pvt Ltd</span>
            </div>
            <ul class="nav navbar-nav navbar-right">
          <span class="material-icons btn" style="font-size: 30px; color: black;" (click)="logout()">logout</span> 
            </ul>
            </div>
            </nav>

    <!-- </mat-toolbar-row>
</mat-toolbar> -->