<section class="hero-wrap hero-wrap-2" style="background-image: url(../../assets/images/bg_1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9  text-center">
                <h1 class="mb-2 bread">Manage Franchises</h1>
                <p class="breadcrumbs"><span class="mr-2"><a routerLink="">Home <i class="ion-ios-arrow-forward"></i>
                        </a></span> <span>Manage Franchises<i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="my-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 text-center heading-section ">
                <h2 style="border-bottom: 1px solid black;">D Exim Solutions Pvt. Ltd. Franchises Management Services...! </h2>
                <p>A franchise is a type of license that grants a franchisee access to a franchisor's proprietary
                    business knowledge, processes and trademarks, thus allowing the franchisee to sell a product or
                    service under the franchisor's business name.</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-laptop"></span></div>
                    <div class="text media-body">
                        <h3>Technology </h3>
                        <p> It is essential that a franchisor embrace the tools and systems available to them from a
                            technology standpoint.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-users"></span></div>
                    <div class="text media-body">
                        <h3>Professionalism </h3>
                        <p> Having spent a great deal of time working with entrepreneurs and working with literally
                            hundreds of small business owners
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-creative-commons"></span></div>
                    <div class="text media-body">
                        <h3>Creativity </h3>
                        <p> A franchisee is continually reassessing their involvement in a franchise model. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>

            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-handshake-o"></span>
                    </div>
                    <div class="text media-body">
                        <h3>Partnerships </h3>
                        <p>Everyone loves a discount and a “Friend in the Business”</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>

            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-commenting-o"></span>
                    </div>
                    <div class="text media-body">
                        <h3>Communication  </h3>
                        <p>As a big powerful franchisor, it can sometimes be easy to forget about the other side of the
                            coin.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>

        </div>
        <!-- <hr style="border-bottom: 1px solid black;"> -->
    </div>
</section>

<section class="ftco-intro ftco-no-pb img" style="background-image: url(../../assets/images/bg_3.jpg);">
    <div class="container">
        <div class="row justify-content-center mb-1">
            <div class="col-md-10 text-center heading-section heading-section-white ">
                <h2 class="mb-0">Our Manage Franchises Services...! </h2>
            </div>
        </div>
    </div>
</section>

<section class="registration">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>Technology </h2>
                <p> <i class="fa fa-angle-double-right"></i>
                    In today’s business marketplace, it is essential that a franchisor embrace the tools and systems
                    available to them from a technology standpoint.  With ever-increasing technological capabilities and
                    standards, great technology is available at a fraction of the price for most Franchisors.  

                </p>
                <!-- <p> <i class="fa fa-angle-double-right"></i>Under the preferential scheme, a COO is issued in case of exports for which India receives tariff preferences. </p> -->
            </div>

            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i> Professionalism </h2>
                <p> <i class="fa fa-angle-double-right"></i> having spent a great deal of time working with
                    entrepreneurs and working with literally hundreds of small business owners, we have seen our fair
                    share of unprofessional business acumen.  It is understandable that most small business people live
                    life on their own terms and have a great deal of pride in what they have accomplished.  The tricky
                    element of franchising is that now the business owner will need to be polished, professional and
                    always have their best foot forward when dealing with franchisees.  Franchise owners do not have the
                    personality or the conviction that most entrepreneurs do, if they see a crack, they will assume the
                    foundation is crumbling.  As a Franchisor, you cannot overlook the “small stuff”.
                </p>
            </div>
            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i> Creativity </h2>
                <p> <i class="fa fa-angle-double-right"></i> a franchisee is continually reassessing their involvement
                    in a franchise model.  It is the never ending question of, “why am I paying for this?”  As a
                    franchisor, it is our responsibility to continually answer that question with new ideas, insightful
                    business strategy and a helping hand when needed.  The most effective franchise models are ones that
                    are not a “one trick pony”.  The business is well developed, has a solid management team, is
                    forward-thinking and provides and unending stream of innovative and out of the box ideas to help the
                    franchisees improve their bottom line and make their daily lives more efficient.  McDonald’s is a
                    wonderful example of this being done the right way.
                </p>
            </div>
            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i> Partnerships </h2>
                <p> <i class="fa fa-angle-double-right"></i> Everyone loves a discount and a “Friend in the Business”. 
                    It is a franchisor’s responsibility to find what needs the franchisees have on a regular basis, and
                    then research what resources there are to assist with those needs.  This comes by way of strategic
                    partnerships and alliances with outside vendors and companies.  If a franchise system is utilizing a
                    large amount of printed materials, the franchisor better find a quality printing partner for
                    example.  These partnerships and alliances are great ways to continually add value to the
                    franchisee’s business and will undoubtedly harbor happy and secure franchisees.
                </p>

            </div>

            <div class="col-md-12  heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i> Communication  </h2>
                <p class="mb-5"><i class="fa fa-angle-double-right"></i>As a big powerful franchisor, it can sometimes
                    be easy to forget about the other side of the coin.  A franchisee typically will have a much
                    different perspective on things than the franchisor does.  Good franchise management requires
                    looking at scenarios and situations from all angles and taking those into account when making
                    impactful decisions.  Good Franchisors are on the phone with their franchisees and have a
                    relationship with them outside of the legal bindings of the FDD.  Never assume that a franchisee is
                    going to be “good to go” for the life of the term because their signature is on the agreement. 
                    Picking up the phone is a great way to manage relationships with franchisees.
                </p>
            </div>

        </div>
    </div>
</section>