<section class="hero-wrap hero-wrap-2" style="background-image: url(../../assets/images/bg_1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9  text-center">
                <h1 class="mb-2 bread">Import Export Service Provider</h1>
                <p class="breadcrumbs"><span class="mr-2"><a routerLink="">Home <i class="ion-ios-arrow-forward"></i>
                        </a></span> <span>Import-Export-Service<i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="my-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center heading-section ">
                <h2 style="border-bottom: 1px solid black;">D Exim Solutions Pvt. Ltd. Services...! </h2>
                <p>To resolve the problems in Import Export Business we provide following diifrent services.</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left text-center ">
                    <div class="icon  d-flex justify-content-center align-items-center"><span
                            class="flaticon-analysis"></span></div>
                    <div class="text media-body">
                        <h3>Import Export Business support</h3>
                        <p><b>D Exim Solutions Pvt. Ltd.</b> is the company promted by experianced persons providing import export services.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center ">
                    <div class="icon  d-flex justify-content-center align-items-center"><span
                            class="flaticon-business"></span></div>
                    <div class="text media-body">
                        <h3>Avoid the Common Mistakes in Business.</h3>
                        <p>We know that mistakes by anyone in any business are very harmful. In short every mistake have
                            a cost to company.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center ">
                    <div class="icon  d-flex justify-content-center align-items-center"><span
                            class="flaticon-insurance"></span></div>
                    <div class="text media-body">
                        <h3>Resolve the problems in Business.</h3>
                        <p>Exporter Importes are facing problems in day to days work like losses due to wrong documents
                            preparations.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ">
                    <div class="icon  d-flex justify-content-center align-items-center"><span
                            class="fa fa-cubes"></span>

                    </div>
                    <div class="text media-body">
                        <h3> To Understand the Import Export Procedure</h3>
                        <p>We found that, many impoter & exporters are not know the right procedures which is mentioned
                            in our Indian FTP (Foreign Trade Policy)
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ">
                    <div class="icon  d-flex justify-content-center align-items-center">
                        <span class="fa fa-file"></span>
                    </div>
                    <div class="text media-body">
                        <h3>To avoid losses due to Insurance policies.
                        </h3>
                        <p>To provide coverage against loss & dameges to Air Cargo, vessels in which mostly export ot
                            import goods carring.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ">
                    <div class="icon  d-flex justify-content-center align-items-center">
                        <span class="fa fa-graduation-cap"></span>
                    </div>
                    <div class="text media-body">
                        <h3>Traning Certification Course</h3>
                        <p>Books on Import Exports Traning Certification Course <br>
                            Project export services - We can take care of your project exports
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <!-- <hr style="border-bottom: 1px solid black;"> -->
    </div>
</section>

<section class="ftco-intro ftco-no-pb img" style="background-image: url(../../assets/images/bg_3.jpg);">
    <div class="container">
        <div class="row justify-content-center mb-1">
            <div class="col-md-10 text-center heading-section heading-section-white ">
                <h2 class="mb-0">D Exim Solutions Pvt. Ltd. Import Export Service ...! </h2>
            </div>
        </div>
    </div>
</section>

<section class="registration">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i> To avoid the commen mistakes in import
                    export business.

                </h2>
                <p> <i class="fa fa-angle-double-right"></i>We know that mistakes by anyone in any business are very
                    harmful. In short every mistake have a cost to company. <br>
                    In day to days working we cant avoid such a mistakes,to avoid such types of mistakes we have
                    developed our own SOP Standerd Operating Procedures.

                </p>
                <p> <i class="fa fa-angle-double-right"></i>
                    We can see the common misatkes as under,<br>
                    1) Typing Mistakes:- Due to typing mistakes we cant stop the losses of company. This type of
                    mistakes in word & numbers can make huge losses in import export Business.
                    <br>2) Unware of rules & regulations: In Import export business you should know the Customs, GST,
                    EEPC, DGFT & other taxations rules & regulationes properly.
                    If you don’t have konwaldge about the rules company will face huge lossees.
                    <br> 3) Non educated Staff - In Import Export Business the person who is going to make documentation
                    or operations he must aware the whole system.
                </p>
                <p> <i class="fa fa-angle-double-right"></i> The Common Mistakes in Import Export Business mostley
                    happend due to non-educated staff. If you want to avoid such types of mistackes you should take care
                    of it.
                    In the import-export business, you don't have to make calculation mistakes, which can lead to huge
                    losses to the company. To avoid this, you have to use verification method every time.
                </p>
                <p> <i class="fa fa-angle-double-right"></i><b>D exim Solutions Pvt. Ltd.</b> We can overcome these mistakes by
                    entering the standard service as per our standard operating procedures. These effective working
                    methods have been developed by <b>D Exim Solutions Pvt. Ltd.</b> 
                </p>
            </div>
            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>To resolve the problems in Import Export
                    Business.</h2>

                <p><i class="fa fa-angle-double-right"></i>Exporter Importes are facing problems in day to days work
                    like losses due to wrong documents preparations.
                </p>
                <p><i class="fa fa-angle-double-right"></i> Due to skiping , hiding, using short cuts, wrongly handeling
                    by peoples companys facing problems like big losses or extra expenses.
                </p>

                <p><i class="fa fa-angle-double-right"></i>Work apposite to Govt. rules regulations exporting or
                    importing the goods, without any approval or a lack of knowledge going through wrong procedure.
                </p>
                <p><i class="fa fa-angle-double-right"></i>Compliances of Customs & GST not on time exportes importers
                    facing problems like show cause notice.
                </p>
                <p><i class="fa fa-angle-double-right"></i>Losses due to not mention terms & conditions or wrongly
                    mention the things in agreements.
                </p>
                <p><i class="fa fa-angle-double-right"></i>Losses due to unknown rules regulations of Consignees
                    countries.
                </p>
                <p><i class="fa fa-angle-double-right"></i>Losses due to not considering all expenses corrcetly as per
                    incoterms while fixing the rates of export goods or services.
                </p>

            </div>
            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>To understand the Import Export Procedure in
                    India. </h2>

                <p> <i class="fa fa-angle-double-right"></i>We found that, many impoter & exporters are not know the
                    right procedures which is mentioned in our Indian FTP (Foreign Trade Policy)
                    For cost saving purpose many time they will take wrong dissions, which may be creates lot of trubels
                    for said business. <br>
                    To become success Importer & exporters they should know the FTP.<br>
                    We can get benefits like export incentives Duty Drawback & MEIS.<br>
                    It is also helping to prepare accurate export documentation.

                </p>
                <p> <i class="fa fa-angle-double-right"></i>Import Export in India is promoted and facilitated by the
                    Directorate General of Foreign Trade under the Ministry of Commerce and Industry.
                </p>
                <p> <i class="fa fa-angle-double-right"></i>The DGFT issues the authorisation to exporters and monitors
                    network of regional offices. The DGFT also implements the EXIM (FTP) Policy of India.
                </p>
                <p> <i class="fa fa-angle-double-right"></i>Import Export Polict means FTP is the policy that is very
                    simple and transparent procedures which are easy to comply with and administer for efficient
                    management of foreign trade in India.
                </p>
                <p> <i class="fa fa-angle-double-right"></i>The Policy designed for enhancing the country’s Import
                    Export for economic fast growth and employment . The Customs Tariff Act and the GST Act are the
                    other two important Acts which lay down how the Customs and GST duties shall be levied on trade,
                    respectively.
                </p>
                <p> <i class="fa fa-angle-double-right"></i>Mostly India’s Import exportr is handled by its maritime
                    transport. Jawaharlal Nehru Port Trust (JNPT) & Nhava Sheva in Maharashtra is India’s largest port,
                    Currently, the country has a using inland container depots and freight stations for trade. Also
                    developing other inland ports for Import Export.
                </p>
                <p> <i class="fa fa-angle-double-right"></i> For an Importer & exporters to avail incentives under the
                    Foreign Trade Policy, it must first register with DGFT certification if IEC code as an EXIM
                    Business.
                </p>
            </div>
            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>To avoid your losses due to Insurance
                    policies.
                </h2>
                <p> <i class="fa fa-angle-double-right"></i> <b>Marine Insurance :</b>To provide coverage against loss &
                    dameges to Air Cargo, vessels in which mostly export ot import goods carring.</p>
                <p> <i class="fa fa-angle-double-right"></i> <b>Types of Policies:</b></p>
                <ul class="ml-5">
                    <li>Floting Policy
                    </li>
                    <li>Voyage Policy
                    </li>
                    <li>Time Policy
                    </li>
                    <li>Mixed Policy
                    </li>
                    <li>Named Policy
                    </li>
                    <li>Port Risk Policy
                    </li>
                    <li>Fleet Policy
                    </li>
                    <li>Singel Vessel Policy
                    </li>
                    <li>Blanket Policy
                    </li>
                </ul>

                <p> <i class="fa fa-angle-double-right"></i>In Import Export Business Marine Insurance is mandetory and
                    its responsibility depends according to Incoterm.
                </p>
                <p> <i class="fa fa-angle-double-right"></i><b>To Avoid losses:
                    </b> <br>Packing Shood According to International Quality <br>Before living goods from factory send
                    details to Insurance company of shipments
                </p>
            </div>

            <div class="col-md-12  heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>Import Export Traning Certification Course
                </h2>
                <p> <i class="fa fa-angle-double-right"></i>Books on Import Exports Traning Certification Course
                    <br> Project export services - We can take care of your project exports
                </p>
                <p> <i class="fa fa-angle-double-right"></i><b>Types of Exports handeling
                    </b>
                    Container Exports (FCL) - Full Container Load shipments. <br>
                    LCL shipments - Less Container Load shipments. <br>
                    Courier, Air & Sea mode all types shipments handeling. <br>

                </p>
                <p> <i class="fa fa-angle-double-right"></i> <b>Break bulk shipments - </b> Break bulk (sometimes called
                    “breakbulk”) is cargo or goods that are too big to fit inside of a container. Examples of break bulk
                    are wood, rolls of steel, and parts of wind turbines. These goods get put on racks or pallets and
                    loaded by cranes.
                </p>
                <p> <i class="fa fa-angle-double-right"></i> <b>Marine Insurance -</b> Insurance of any import export
                    shipments is needed as per Incoterms. To avoiding any types of losses we need Insurance also in
                    Import Export Business.</p>
                    <p class="mb-5"> <i class="fa fa-angle-double-right"></i> <b>Software for Export Documentation -</b>  Commercial Invoicing, Packing list, Tax Invoice, SDF, Annexure-A & Challans for E-Way Bills.
                    </p>
            </div>
           
        </div>
    </div>
</section>