<section class="hero-wrap hero-wrap-2" style="background-image: url(../../assets/images/bg_1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9  text-center">
                <h1 class="mb-2 bread">Trader/Merchant Exporters</h1>
                <p class="breadcrumbs"><span class="mr-2"><a routerLink="">Home <i class="ion-ios-arrow-forward"></i>
                        </a></span> <span>Trader-Merchant Exporters<i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="my-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center heading-section ">
                <h2 style="border-bottom: 1px solid black;">D Exim Solutions Pvt. Ltd. Trader/Merchant Export Services...! </h2>
                <p>We are Merchant export and we are deling in all types of goods & Services.
                </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-analysis"></span></div>
                    <div class="text media-body">
                        <h3>Machinery & mechanical appliances </h3>
                        <p> We export all type of Machinery & mechanical appliances in pan India. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-business"></span></div>
                    <div class="text media-body">
                        <h3></h3>
                        <p> We export all type of Iron & Steel appliances in pan India. </p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-recycle"></span></div>
                    <div class="text media-body">
                        <h3>Plastics </h3>
                        <p> We export all type of Plastics appliances in pan India. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-sitemap "></span>
                    </div>
                    <div class="text media-body">
                        <h3>Lather and Handicraft Items</h3>
                        <p> We export all type of Lather and Handicraft Items in pan India. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-cutlery"></span>
                    </div>
                    <div class="text media-body">
                        <h3>Foods & beverages and Colors</h3>
                        <p> We export all type of Foods & beverages and Colors Items in pan India. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-insurance"></span>
                    </div>
                    <div class="text media-body">
                        <h3>Agreeculture Seeds and Animal Feeds
                        </h3>
                        <p> We export all type of Agreeculture Seeds and Animal Feeds Items in pan India.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-intro ftco-no-pb img" style="background-image: url(../../assets/images/bg_3.jpg);">
    <div class="container">
        <div class="row justify-content-center mb-1">
            <div class="col-md-10 text-center heading-section heading-section-white ">
                <h2 class="mb-0">Our Trader/Merchant Exporters Services...! </h2>
            </div>
        </div>
    </div>
</section>

<section class="registration marchant-export">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h3>Machinery & Mechanical</h3>
                <img src="../../../assets/images/mechanical-applicence.png" alt="mechanical-applicence">
            </div>
            <div class="col-md-4">
                <h3>Iron & Steel </h3>
                <img src="../../../assets/images/Iron & Steel.png" alt="Iron & Steel">
            </div>
            <div class="col-md-4">
                <h3>Plastics</h3>
                <img src="../../../assets/images/Plastics.png" alt="Plastics">
            </div>
            <div class="col-md-4">
                <h3>Foods & Beverages</h3>
                <img src="../../../assets/images/Foods & beverages.png" alt="Foods & beverages">
            </div>
            <div class="col-md-4">
                <h3>Lather Articals</h3>
                <img src="../../../assets/images/Lather Articals.png" alt="Lather Articals">
            </div>
            <div class="col-md-4">
                <h3>Chilly & Termaric Powder</h3>
                <img src="../../../assets/images/chilly.png" alt="chilly">
            </div>
            <div class="col-md-4">
                <h3>Soya Products</h3>
                <img src="../../../assets/images/Soya-product.png" alt="Soya-product">
            </div>

            <div class="col-md-4">
                <h3>Basamati Rice</h3>
                <img src="../../../assets/images/Basamati Rice.png" alt="Basamati Rice">
            </div>
            <div class="col-md-4">
                <h3>Food Colors</h3>
                <img src="../../../assets/images/Color.png" alt="Food Colors">
            </div>
            <div class="col-md-4">
                <h3>Agreeculture Seeds</h3>
                <img src="../../../assets/images/Agreeculture Seeds.png" alt="Agreeculture Seeds">
            </div>
            <div class="col-md-4">
                <h3>Animal Feeds</h3>
                <img src="../../../assets/images/Animal Feeds.png" alt="Animal Feeds">
            </div>
            <div class="col-md-4">
                <h3>Handicraft Items</h3>
                <img src="../../../assets/images/Handicraft Items.png" alt="Handicraft Items">
            </div>
            <div class="col-md-4">
                <h3>Jute Bags</h3>
                <img src="../../../assets/images/Jute Bags.png" alt="Jute Bags">
            </div>
            <div class="col-md-4 ">
                <h3>Onion and Garlic</h3>
                <img src="../../../assets/images/Onion and Garlic.png" alt="Onion and Garlic">
            </div>

        </div>
    </div>
    <p class="mb-5"></p>
</section>