<section class="hero-wrap hero-wrap-2" style="background-image: url(../../assets/images/bg_1.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9  text-center">
        <h1 class="mb-2 bread">About Us</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i
                class="ion-ios-arrow-forward"></i></a></span> <span>About us <i
              class="ion-ios-arrow-forward"></i></span></p>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-5 order-md-last wrap-about align-items-stretch">
        <div class="wrap-about-border">
          <div class="img" style="background-image: url(../../assets/images/MIT-Complex-Inequality_0.jpg);"></div>
          <div class="text">
            <h3>History</h3>
            <p>20 Years Experience form 2000 to 2020.</p>
            <p>We are working from since 2000 in this fileld , we have experienced professionals who are also dedicated
              24 X
              7 for serve.</p>
            <p>We offering pocket friendly excellent quality work, which is also boost to any businesses.
            </p>
            <p><a href="#" class="btn btn-primary py-3 px-4">Contact us</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-7 wrap-about pr-md-4 ">
        <h2 class="mb-4">Welcome to D Exim Solutions Pvt Ltd</h2>
        <p>

          With the support of our experienced team, we are providing <b>Import Export Consultancy Services</b> to our
          clients
          in
          a hassle-free manner. We are providing best solutions and services as per the customers' requirements. We have
          also
          good connectivity with several <b>Government Departments, CHA's, Transporters, Banks</b> to ensure any work
          related
          to Import Export.</p>
        <p>We are providing services to avail promotional schemes for your products which are offered by government
          like<b> Drawback, MEIS, EPCG , Advance License</b> etc as well as undertake DGFT, customs & GST related works
          .
          Moreover, we offer our services at the best price.</p>
        <h2>What We Do</h2>
        <p>
          <b>D Exim Solutions Pvt. Ltd.</b> presents end-to-end solutions in all <b>Import- Export and related Merchant
            exports</b> in India and
          other
          countries. Our expertise is ready for our clients regionally where and when they are demanded. It is an
          organization driven by a team with rich and varied expertise in all managerial disciplines concerning the
          business.
        </p>
        <h2>Our Objective</h2>
        <p><b>Happy Customers is our main objective.</b> <br>
          We know happy cutomer will only live long time with us, which is required to grow our businesses.
        </p>
      </div>
    </div>
  </div>
</section>
<section class=" ftco-counter">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-2 d-flex">
      <div class="col-md-4 align-items-stretch d-flex">
        <div class="img img-video d-flex align-items-center">
          <div class="vision justify-content-center">
            <img src="../../../assets/images/Vision1.jpg" alt="Vision">
          </div>
        </div>
      </div>
      <div class="col-md-8 heading-section  pl-lg-5 pt-md-0 pt-5">
        <h2 class="mb-4">Our Vision
        </h2>
        <p><i class="fa fa-arrow-right" aria-hidden="true"></i> <b>" We made for Import Export "</b> To make Import
          Export eassy
          for Businesses

        </p>
        <p><i class="fa fa-arrow-right" aria-hidden="true"></i> We have commited to serve our best services to all
          business to make there import export eassy & panic free.
        </p>
        <p><i class="fa fa-arrow-right" aria-hidden="true"></i>To become World’s Best Global Platform, Integrating
          Interests of SMEs, large Corporate, MNCs, Banks, Investors, Policy makers, Youth & Women Entrepreneurs,
          Students and Start–Ups for better Growth in their Business, Career and other Life areas like Health & Sports.
        </p>
        <p><i class="fa fa-arrow-right" aria-hidden="true"></i>Be a trusted and respected professional firm helping
          customers to do business in India with ease and assisting them to maximize their bottom lines while being
          fully compliant with the laws of the land.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-counter">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-2 d-flex">
      <div id="Our-mission" class="col-md-8 heading-section pl-lg-5 pt-md-0 pt-5">
        <h2 class="mb-4">Our Mission</h2>
        <p><i class="fa fa-arrow-right" aria-hidden="true"></i> <b>"We offering our best services to Import Export
            businesses to make them more productive and successful.”</b>
        </p>
        <p><i class="fa fa-arrow-right" aria-hidden="true"></i> We are offering our best services with new ideas,
          innovations, softwares to make eassy to do anything immdiatlay. </p>
        <p><i class="fa fa-arrow-right" aria-hidden="true"></i>Supporting all Stakeholders, Succeed by Means Of
          Training, Networking & Knowledge Sharing, Globally.
        </p>
        <p><i class="fa fa-arrow-right" aria-hidden="true"></i>PRIDE shall be our watchword while dealing with our
          business ecosystem consisting of our Clients, Associates, Regulators & the Society in general.
        </p>
      </div>
      <div class="col-md-4 align-items-stretch d-flex">
        <div class="d-flex align-items-center">
          <div class="mission justify-content-center">
            <img id="Our-mission-img" src="../../../assets/images/Mission.jpg" alt="Mission">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class=" ftco-counter">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-2 d-flex">
      <div class="col-md-4 align-items-stretch d-flex">
        <div class="img img-video d-flex align-items-center">
          <div class="value justify-content-center">
            <img src="../../../assets/images/Core Values 0.png" alt="core value">
          </div>
        </div>
      </div>
      <div class="col-md-8 heading-section value-list pt-md-0 pt-5">
        <h2 class="mb-4">Our Core Values
        </h2>
        <p><i class="fa fa-arrow-right" aria-hidden="true"></i>Serve good for better future</p>
        <p><i class="fa fa-arrow-right" aria-hidden="true"></i>We believe in Serve good for a better future. Our
          teamwork making services effective which is useful to make your future good.
        </p>
        <p><i class="fa fa-arrow-right" aria-hidden="true"></i>Act with uncompromising honesty and integrity in
          everything we do.
        </p>
        <p><i class="fa fa-arrow-right" aria-hidden="true"></i>Satisfy our customers with innovative technology and
          superior quality, value, and service.
        </p>
        <p><i class="fa fa-arrow-right" aria-hidden="true"></i>Provide our investors an attractive return through
          sustainable, global growth.</p>
        <p><i class="fa fa-arrow-right" aria-hidden="true"></i>Respect our social and physical environment around the
          world.
          We achieve more when we collaborate and all work together.</p>
        <p><i class="fa fa-arrow-right" aria-hidden="true"></i>Live by its value systems both in letter and spirit.</p>
        <p><i class="fa fa-arrow-right" aria-hidden="true"></i>Keep the interest of the customer above all other
          considerations and strive to live up to the expectations of the client.</p>
        <p><i class="fa fa-arrow-right" aria-hidden="true"></i>At all levels undertake and commit that the dealing with
          all, customers, associates will be fair and without any kind of prejudices based on gender, race, region, or
          any other consideration.</p>
        <p><i class="fa fa-arrow-right" aria-hidden="true"></i>Follow the rules of the land without fear of any
          consequences either external or internal at all times. </p>
      </div>
    </div>
  </div>
</section>


<section class="ftco-intro ftco-no-pb img" style="background-image: url(../../assets/images/bg_3.jpg);">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 text-center heading-section heading-section-white ">
        <h2 class="mb-0">Downloads</h2>
      </div>
      <div class="col-md-12 mt-4 ">
        <div class="row download">
          <div class="col-md-3 p-2">
            <a href="../../../assets/pdf/D Exim Profile.pdf" target="_blank">
              <button class="btn btn-light"> D Exim Profile</button>
            </a>
          </div>
          <div class="col-md-3 p-2">
            <a href="../../../assets/pdf/D Exim GST Profile.pdf" target="_blank">
              <button class="btn btn-light">GST Profile</button>
            </a>
          </div>
          <div class="col-md-3 p-2">
            <a href="../../../assets/pdf/D Exim Co-Operative Audits Profile.pdf" target="_blank">
              <button class="btn btn-light">Co-operative Profile</button>
            </a>
          </div>
          <div class="col-md-3 p-2">
            <a href="../../../assets/pdf/D Exim Outsourcing Profile.pdf" target="_blank">
              <button class="btn btn-light">Outsorcing Profile</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-counter">
  <div class="container">
    <div class="row justify-content-center mb-5 d-flex">
      <div class="col-md-5 align-items-stretch d-flex">
        <div class="img img-video d-flex align-items-center">
          <div class="value justify-content-center">
            <img src="../../../assets/images/do like this.jpg" alt="core value">
          </div>
        </div>
      </div>
      <div class="col-md-7 heading-section value-list pt-md-0 pt-5">
        <h2 class="mb-4">Why <b>D Exim Solutions Pvt. Ltd.</b></h2>
        <p><i class="fa fa-arrow-right" aria-hidden="true"></i>Best affordable services.</p>
        <p><i class="fa fa-arrow-right" aria-hidden="true"></i>We offering pocket-friendly excellent quality work, which
          is also a boost to any business.</p>
        <p><i class="fa fa-arrow-right" aria-hidden="true"></i>For Import Export Business support. </p>
        <p><i class="fa fa-arrow-right" aria-hidden="true"></i>To avoid the common mistakes in the import-export
          business.</p>
        <p><i class="fa fa-arrow-right" aria-hidden="true"></i>To resolve the problems in Import Export Business.</p>
        <p><i class="fa fa-arrow-right" aria-hidden="true"></i>To understand the Import-Export Procedure in India.</p>
        <p><i class="fa fa-arrow-right" aria-hidden="true"></i>To avoid your losses due to Insurance policies.</p>
        <p><i class="fa fa-arrow-right" aria-hidden="true"></i>Import Export Outsourcing Services.</p>
        <p><i class="fa fa-arrow-right" aria-hidden="true"></i>Import Export Traning Certification Course</p>
        <p><i class="fa fa-arrow-right" aria-hidden="true"></i>Import Export Data provider</p>
      </div>
    </div>
  </div>
</section>

<section class="testimony-section">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-12 text-center our-teams heading-section ">
        <h2 class="mb-4">Our Team</h2>
        <!-- <img src="../../../assets/images/Yashwant Pratap  Dhadave.png"> -->

      </div>
    </div>
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-3 col-sm-6">
          <div class="our-team">
            <img src="../../../assets/images/Yashwant Pratap  Dhadave.png">
            <div class="team-content">
              <h3 class="post-title">Yashwant Pratap Dhadave</h3>
              <span class="post">Founder - CEO</span>
              <p class="description">
                20 Years Experience in Import Export, Direct & Indirect Taxation & Co-Oprative Audits
              </p>
              <ul class="team_social">
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
            <div class="team-prof">
              <h3 class="post-title">Yashwant Dhadave</h3>
              <span class="post">Founder - CEO</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="our-team">
            <img src="../../../assets/images/Rajendra Pratap  Dhadave.png">
            <div class="team-content">
              <h3 class="post-title">Rajendra Pratap Dhadave</h3>
              <span class="post">Director</span>
              <p class="description">25 Years Experience in Marketing & Insurance.
              </p>
              <ul class="team_social">
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
            <div class="team-prof">
              <h3 class="post-title">Rajendra Dhadave</h3>
              <span class="post">Director</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="our-team">
            <img src="../../../assets/images/Rahul Pratap  Dhadave.png">
            <div class="team-content">
              <h3 class="post-title">Rahul Pratap Dhadave</h3>
              <span class="post">Director</span>
              <p class="description">
                20 Years Experience in Advetising.
              </p>
              <ul class="team_social">
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
            <div class="team-prof">
              <h3 class="post-title">Rahul Dhadave</h3>
              <span class="post">Director</span>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="our-team">
            <img src="../../../assets/images/Ganesh Pratap  Dhadave.png">
            <div class="team-content">
              <h3 class="post-title">Ganesh Pratap Dhadave</h3>
              <span class="post">Director</span>
              <p class="description">
                20 Years Experience in Seeds Technology & Agree Products
              </p>
              <ul class="team_social">
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
            <div class="team-prof">
              <h3 class="post-title">Ganesh Dhadave</h3>
              <span class="post">Director</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>