<section>
  <div class="slider slider-main">
    <!-- <div class="nature-one-info">
      <h1 class="text-white">This is one </h1>
    </div> -->

    <!-- <div class="text-slid">
    <p class="item-1">This is your last chance. After this, there is no turning back.</p>

    <p class="item-2">You take the blue pill - the story ends, you wake up in your bed and believe whatever you want to believe.</p>
    
    <p class="item-3">You take the red pill - you stay in Wonderland and I show you how deep the rabbit-hole goes.</p>
   </div> -->
    <img class="nature One" src="../../../assets/images/slider-2.jpg" alt="images slider">
    <!-- <div class="nature-two-info">
      <h1 class="text-white">This is Two </h1>
    </div> -->
    <img class="nature Two" src="../../../assets/images/slider-1.jpg" alt="images slider">
    <img class="nature " src="../../../assets/images/slider-4.jpg" alt="images slider">

    <!-- <div class="nature-three-info">
      <h1 class="text-white">This is Three </h1>
    </div> -->
    <img class="nature Three" src="../../../assets/images/slider-3.jpg" alt="images slider">

  </div>

</section>

<marquee style="color: red;font-size: 22px;" onMouseOver="this.stop()" onMouseOut="this.start()">
    {{marqueeModel.description}}
</marquee>
<hr style="margin: 0;">
<!-- 
<marquee onMouseOver="this.stop()" onMouseOut="this.start()" style="color:red;   text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); border-bottom: 1px solid;" class="bg-light my-1">
  {{marqueeModel.description}}

</marquee> -->

<section class="py-5">
  <div class="container">
    <div class="row d-flex">

      <div class="col-md-7 wrap-about pr-md-4 ">
        <h2 class="mb-4"> Welcome to D-Exim Solutions Pvt. Ltd. </h2>
        <p> With the support of our experienced team, we are providing <b>Import Export Consultancy Services</b> to our
          clients in
          a hassle-free manner.We are providing the best solutions and services as per the customers' requirements.</p>
        <div class="row mt-5">
          <div class="col-lg-6">
            <div class="services active text-center">
              <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                  class="flaticon-collaboration"></span></div>
              <div class="text media-body">
                <h3>Export Consultancy</h3>
                <p><b>D Exim Solutions Pvt. Ltd.</b> help to find overseas buyers for you and presenting information
                  about how to Export Import.
                </p>
              </div>
            </div>
            <div class="services text-center">
              <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                  class="flaticon-analysis"></span></div>
              <div class="text media-body">
                <h3>Import Export Outsourcing</h3>
                <p> We can take care of your Commercial project exports with Invoice & Packing List.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="services text-center">
              <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="fa fa-ship"></span>
              </div>
              <div class="text media-body">
                <h3>Merchant Export</h3>
                <p>To become success Importer & exporters they should know the FTP. <br></p>
              </div>
            </div>
            <div class="services text-center">
              <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                  class="flaticon-handshake"></span></div>
              <div class="text media-body">
                <h3>Simple and Fast Registrations</h3>
                <p><b>D Exim Solutions Pvt. Ltd.</b> provides the best solutions and services for online import and
                  export as per the customers'
                  requirements.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 order-md-last wrap-about align-items-stretch">
        <div class="wrap-about-border ">
          <div class="img" style="background-image: url(../../assets/images/why-need.png);"></div>
          <div class="text">
            <h3>For Import Export Business support..!</h3>
            <p><b>D Exim Solutions Pvt. Ltd.</b> provide the best solutions and services as per the customers'
              requirements.
              We have also good connectivity with several government departments, <b> CHA's, Transporters, Banks</b> to
              ensure any work related to Import Export.</p>
            <p>We are providing services to avail promotional schemes for your products which are offered by the
              government
              like <b>Drawback, MEIS, EPCG, Advance License,</b> etc as well as undertake <b>DGFT, customs &
                GST-related</b> works. <br>
              Moreover, we offer our services at the best price.</p>

            <p><a routerLink="/pages/contact" class="btn btn-primary py-3 px-4">Contact us</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-intro ftco-no-pb img" style="background-image: url(../../assets/images/bg_3.jpg);">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-10 text-center heading-section heading-section-white ">
        <h2 class="mb-0">You Always Get the Best Guidance on Import & Export</h2>
      </div>
    </div>
  </div>
</section>


<section class="ftco-counter" id="section-counter">
  <div class="container">
    <div class="row d-md-flex align-items-center justify-content-center">
      <div class="wrapper">
        <div class="row d-md-flex align-items-center">
          <div class="col-md d-flex justify-content-center counter-wrap ">
            <div class="block-18">
              <div class="icon"><span class="flaticon-doctor"></span></div>
              <div class="text">
                <strong class="number" data-number="705">350+</strong>
                <span>Projects Completed</span>
              </div>
            </div>
          </div>
          <div class="col-md d-flex justify-content-center counter-wrap ">
            <div class="block-18">
              <div class="icon"><span class="flaticon-doctor"></span></div>
              <div class="text">
                <strong class="number" data-number="809">5000+</strong>
                <span>Satisfied Customer</span>
              </div>
            </div>
          </div>
          <div class="col-md d-flex justify-content-center counter-wrap ">
            <div class="block-18">
              <div class="icon"><span class="flaticon-doctor"></span></div>
              <div class="text">
                <strong class="number" data-number="335">5</strong>
                <span>Awards Received</span>
              </div>
            </div>
          </div>
          <div class="col-md d-flex justify-content-center counter-wrap ">
            <div class="block-18">
              <div class="icon"><span class="flaticon-doctor"></span></div>
              <div class="text">
                <strong class="number" data-number="35">20 +</strong>
                <span>Years of Experienced</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-8 text-center heading-section ">
        <h2 class="mb-3">D-Exim Solutions Pvt. Ltd. Best Services</h2>
        <p>With the support of our experienced team, we are providing Import Export Consultancy Services to our clients
          in
          a hassle-free manner. We are providing the best solutions and services as per the customers' requirements.</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-4 col-md-6 d-flex">
        <div class="services-2 noborder-left text-center ">
          <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="fa fa-ship"></span></div>
          <div class="text media-body">
            <h3>Import Export Service Provider</h3>
            <p>Commercial(Export) Invoice & Packing List. <br>
              Annexure-A Export value declaration. <br>
              Consignee Invoice & Packing List.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex">
        <div class="services-2 text-center ">
          <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
              class="flaticon-business"></span></div>
          <div class="text media-body">
            <h3>Trader/Merchant Exporters</h3>
            <p>We are Merchant export and we are deling in all types of goods & Services.
              <br>
              Transport arrangments & CHA arrangments.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex">
        <div class="services-2 text-center ">
          <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
              class="flaticon-insurance"></span></div>
          <div class="text media-body">
            <h3>Distributor</h3>
            <p> We are best distirbutors of all type Consumer or business goods that may be manufactured or not
              manufactured.<br>
              Inventory Managment.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex">
        <div class="services-2 noborder-left noborder-bottom text-center ">
          <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-money"></span>
          </div>
          <div class="text media-body">
            <h3>Business Advisor</h3>
            <p>We provide support inImport Export Data provider and Export Marketing <br>
              Digital World and
              Online Marketing,
              Social Media

            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex">
        <div class="services-2 text-center noborder-bottom ">
          <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
              class="fa fa-file-video-o"></span>
          </div>
          <div class="text media-body">
            <h3>VFX Video and Animation</h3>
            <p>Wedding Photography,Cinematic Video,Prewedding Songs, <br>
              industrial Photography,Portfolio

            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex">
        <div class="services-2 text-center noborder-bottom ">
          <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
              class="flaticon-search-engine"></span></div>
          <div class="text media-body">
            <h3>Co-Ordination with Authorities</h3>
            <p> Export promotion agencies and
              Commodity Board <br>
              Government Embassies,
              Personal Meet,
              Appointing a Agent
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex">
        <div class="services-2 text-center noborder-bottom ">
          <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
              class=" fa fa-american-sign-language-interpreting"></span></div>
          <div class="text media-body">
            <h3>Manage Franchises</h3>
            <p> Technology and 
              Professionalism, 
              Creativity  <br>
              Partnerships, 
              Communication 

            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex">
        <div class="services-2 text-center noborder-bottom ">
          <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="fa fa-angellist"></span>
          </div>
          <div class="text media-body">
            <h3>Strategy formulator</h3>
            <p> Goal Setting,
              Situation Analysis and
              Strategy Formulation, <br>
              Strategy Implementation,
              Strategy Evaluation
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex">
        <div class="services-2 text-center noborder-bottom ">
          <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="fa fa-copyright"></span>
          </div>
          <div class="text media-body">
            <h3>Brand building</h3>
            <p>Determine Target Audience and
              Define Brand Mission <br>
              Research Competition,
              Create Value Propositions,
              Determine Brand Guidelines. </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>



<section class="ftco-intro ftco-no-pb img" style="background-image: url(../../assets/images/bg_1.jpg);">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 col-md-8 d-flex align-items-center heading-section heading-section-white ">
        <h2 class="mb-3 mb-md-0">You Always Get the Best Guidance</h2>
      </div>
      <div class="col-lg-3 col-md-4 ">
        <p class="mb-0"><a routerLink="/pages/contact" class="btn btn-white py-3 px-4">Contact Us</a></p>
      </div>
    </div>
  </div>
</section>




<!-- <section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-8 text-center heading-section ">
        <h2 class="mb-4"><span>Recent</span> Blog</h2>
        <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary
          regelialia. It is a paradisematic country</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 ">
        <div class="blog-entry">
          <a href="blog-single.html" class="block-20 d-flex align-items-end"
            style="background-image: url('../../assets/images/image_1.jpg');">
            <div class="meta-date text-center p-2">
              <span class="day">26</span>
              <span class="mos">June</span>
              <span class="yr">2019</span>
            </div>
          </a>
          <div class="text bg-white p-4">
            <h3 class="heading"><a href="#">Finance And Legal Working Streams Occur Throughout</a></h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
              blind texts.</p>
            <div class="d-flex align-items-center mt-4">
              <p class="mb-0"><a href="#" class="btn btn-primary">Read More <span
                    class="ion-ios-arrow-round-forward"></span></a></p>
              <p class="ml-auto mb-0">
                <a href="#" class="mr-2">Admin</a>
                <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 ">
        <div class="blog-entry">
          <a href="blog-single.html" class="block-20 d-flex align-items-end"
            style="background-image: url('../../assets/images/image_2.jpg');">
            <div class="meta-date text-center p-2">
              <span class="day">26</span>
              <span class="mos">June</span>
              <span class="yr">2019</span>
            </div>
          </a>
          <div class="text bg-white p-4">
            <h3 class="heading"><a href="#">Finance And Legal Working Streams Occur Throughout</a></h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
              blind texts.</p>
            <div class="d-flex align-items-center mt-4">
              <p class="mb-0"><a href="#" class="btn btn-primary">Read More <span
                    class="ion-ios-arrow-round-forward"></span></a></p>
              <p class="ml-auto mb-0">
                <a href="#" class="mr-2">Admin</a>
                <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 ">
        <div class="blog-entry">
          <a href="blog-single.html" class="block-20 d-flex align-items-end"
            style="background-image: url('../../assets/images/image_3.jpg');">
            <div class="meta-date text-center p-2">
              <span class="day">26</span>
              <span class="mos">June</span>
              <span class="yr">2019</span>
            </div>
          </a>
          <div class="text bg-white p-4">
            <h3 class="heading"><a href="#">Finance And Legal Working Streams Occur Throughout</a></h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
              blind texts.</p>
            <div class="d-flex align-items-center mt-4">
              <p class="mb-0"><a href="#" class="btn btn-primary">Read More <span
                    class="ion-ios-arrow-round-forward"></span></a></p>
              <p class="ml-auto mb-0">
                <a href="#" class="mr-2">Admin</a>
                <a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section id="image-block" class="ftco-section testimony-section image-block p-0">
  <div class="container-fluid">
    <h3 class="text-center pt-4" style="font-size: 40px; font-weight: bold;">Why Choose Us..?</h3>
    <div class="row why-choose">

      <div class="col-md-5 ts-padding why-choose-us ">
        <img src="../../../assets/images/why-choose-us.png" alt="why-choose-u">
      </div>
      <div class="col-md-7 ts-padding img-block-right">
        <div class="img-block-head text-center">
          <!-- <h2>Know More About Our Company</h2> -->
          <!-- <h3>&nbsp;Know More About Our Company</h3> -->
          <p class=" pl-4"><b>D Exim Solutions Pvt. Ltd.</b> is the company promted by experianced persons providing
            import export services. We
            provide
            services to avail promotional schemes for your products which are offered by the government
            like MEIS, EPCG, Advance License, etc as well as undertake DGFT, customs & GST-related works.

          </p>
        </div>

        <div class="gap-30"></div>

        <div class="image-block-content">
          <span class="feature-icon float-left"><i class="fa fa-ship"></i></span>
          <div class="feature-content">
            <h3>To understand the Import Export Procedure</h3>
            <p>To understand the Import Export Procedure in India by easy way.</p>
          </div>
        </div>
        <!--/ End 1st block -->

        <div class="image-block-content">
          <span class="feature-icon float-left"><i class="fa fa-diamond"></i></span>
          <div class="feature-content">
            <h3> To Avoid mistakes in Import Export</h3>
            <p>As challenging as international trading might seem to you as a beginner, there is a solution to it
              all:<b>D Exim Solutions Pvt. Ltd.</b></p>
          </div>
        </div>
        <!--/ End 1st block -->

        <div class="image-block-content">
          <span class="feature-icon float-left"><i class="fa fa-phone"></i></span>
          <div class="feature-content">
            <h3>24/7 Support</h3>
            <p><b>D Exim Solutions Pvt. Ltd.</b> provide 24 by 7 support for customer enquiry..!</p>
          </div>
        </div>
        <!--/ End 1st block -->

      </div>
    </div>
  </div>
</section>

<section class="ftco-section testimony-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center heading-section ">
        <h2 class="mb-4">Our Clients Says</h2>
        <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary
          regelialia. It is a paradisematic country</p>
      </div>
    </div>
    <div class="testimonial-slider">
      <i class="fa fa-quote-left" aria-hidden="true" style="text-align: center; color: #1b9ce3;"></i>

      <ul class="slider text-center">
        <li>
          <div class="testimonial-slider-content">
            <img src="../../../assets/images/person_1.jpg" alt="person_1">
            <q> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione vero tempore sed, dolor unde deleniti
              necessitatibus! Nemo dicta quas, vel nisi magnam ipsa voluptate doloremque explicabo quasi, sapiente vitae
              quam?</q>
            <p class="source">- Paul C, TX</p>
          </div>
        </li>
        <li>
          <div class="testimonial-slider-content">
            <img src="../../../assets/images/person_2.jpg" alt="person_1">
            <q>Lorem ipsum dolor sit amet consectetur adipisicing elit. </q>
            <p class="source">- Ella M, TX</p>
          </div>
        </li>
        <li>
          <div class="testimonial-slider-content">
            <img src="../../../assets/images/person_1.jpg" alt="person_1">
            <q>Next, the third quote - AMAZING!This is the first quote in your slider!This is the first quote in your
              slider!</q>
            <p class="source">- Blaine B, TX</p>
          </div>
        </li>
        <li>
          <div class="testimonial-slider-content">
            <img src="../../../assets/images/person_3.jpg" alt="person_1">
            <q>This is the last quote, I can't believe how well this workedThis is the first quote in your slider!This
              is the first quote in your slider!This is the first quote in your slider!!</q>
            <p class="source">- Guillermo O, TX</p>
          </div>
        </li>
      </ul>
      <i id="quote-right" class="fa pull-right fa-quote-right" style="color: #1b9ce3;" aria-hidden="true"></i>

    </div>
  </div>
</section>

<br>
<!-- <i class="far fa-hand-point-right"></i>
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
 <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
 <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
   stroke="#F96D00" />
</svg></div> -->


<section class="ftco-section ftco-consult ftco-no-pt ftco-no-pb"
  style="background-image: url(../../assets/images/ab-bgjpg.jpg);" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-md-6 py-5 px-md-5">


      </div>
      <div class="col-md-6 py-5 px-md-5">
        <div class="py-md-5">
          <div class="heading-section heading-section-white  mb-5">
            <h2 class="mb-4">Get In Touch</h2>
            <p>Provide your details for more information.</p>
          </div>
          <form action="#" class="appointment-form ">
            <div class="d-md-flex">
              <div class="form-group">
                <input type="text" name="name" class="form-control"  onkeypress='return event.charCode>=97 && event.charCode <=122 || event.charCode>=65 && event.charCode <=90 || event.charCode == 32' placeholder="Name" [(ngModel)]="sendEmailModel.name">
              </div>
              <div class="form-group ml-md-4">
                <input type="email" class="form-control" name="email" placeholder="Email Address" [(ngModel)]="sendEmailModel.email">
              </div>
            </div>
            <div class="d-md-flex">
              <!-- <div class="form-group">
                <div class="form-field">
                  <div class="select-wrap">
                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                    <select name="" id="" class="form-control temp-o">
                      <option value="">Select Guidance</option>
                      <option value="">Finance</option>
                      <option value="">Business</option>
                      <option value="">Auto Loan</option>
                      <option value="">Real Estate</option>
                      <option value="">Other Services</option>
                    </select>
                  </div>
                </div>
              </div> -->
              <div class="form-group">
                <textarea   name="message" cols="30" rows="2" class="form-control" placeholder="Message" [(ngModel)]="sendEmailModel.message"></textarea>
              </div>
              <div class="form-group ml-md-4">
                <input type="text" class="form-control" name="mobileNo" placeholder="Phone" maxlength="10" minlength="10" onkeypress='return event.charCode>=48 && event.charCode <=57' [(ngModel)]="sendEmailModel.mobileNo">
              </div>
            </div>
            <div class="d-md-flex">
             
              <div class="form-group ml-md-4">
                <input type="submit" value="Request A Quote" (click)="SendEmail()" [disabled]="sendEmailModel.name == null || sendEmailModel.email == null || sendEmailModel.mobileNo == null || sendEmailModel.message == null " class="btn btn-white py-3 px-4">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>