<section class="hero-wrap hero-wrap-2" style="background-image: url(../../assets/images/bg_1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9  text-center">
                <h1 class="mb-2 bread">Distributor Services</h1>
                <p class="breadcrumbs"><span class="mr-2"><a routerLink="">Home <i class="ion-ios-arrow-forward"></i>
                        </a></span> <span>Distributor<i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="my-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center heading-section ">
                <h2 style="border-bottom: 1px solid black;">Our Distributor Services...! </h2>
                <p>A distributor is a middleman who handles consumer or business goods that may be manufactured or not
                    manufactured (such as agricultural products), imported or exported, and then sold. The figure
                    illustrates the distributor’s relationship to the seller and buyer.</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-analysis"></span></div>
                    <div class="text media-body">
                        <h3>Full-service distributors</h3>
                        <p> The distributor acts as a purchasing intermediary for its customers.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-business"></span></div>
                    <div class="text media-body">
                        <h3> Inventory Managment </h3>
                        <p> The distributor purchases in large quantities and resells to its customers in smaller quantities.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-insurance"></span></div>
                    <div class="text media-body">
                        <h3>Warehousing Facilities</h3>
                        <p>The distributor serves in a warehousing capacity for its customers, delivering the goods to its customers at the customers’ request.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-ship"></span>
                    </div>
                    <div class="text media-body">
                        <h3>Transport</h3>
                        <p>The distributor arranges for delivery of goods to its customers.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-money"></span>
                    </div>
                    <div class="text media-body">
                        <h3>Financing</h3>
                        <p>The distributor provides credit terms to its customers.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-leanpub"></span>
                    </div>
                    <div class="text media-body">
                        <h3>Drop-shipping distributors</h3>
                        <p>A drop shipper is a distributor who sells merchandise for delivery directly from the supplier.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <hr style="border-bottom: 1px solid black;"> -->
    </div>
</section>

<section class="ftco-intro ftco-no-pb img" style="background-image: url(../../assets/images/bg_3.jpg);">
    <div class="container">
        <div class="row justify-content-center mb-1">
            <div class="col-md-10 text-center heading-section heading-section-white ">
                <h2 class="mb-0">In Details Of Distributor Services...! </h2>
            </div>
        </div>
    </div>
</section>

<section class="registration">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>Full-service distributors</h2>
                <p> <i class="fa fa-angle-double-right"></i> <b>Buying:</b> The distributor acts as a purchasing intermediary for its customers.</p>
                <p> <i class="fa fa-angle-double-right"></i> <b>Creating assortments: </b> The distributor purchases goods from a variety of suppliers and maintains an inventory that meets the needs of its customers.
                </p>
            </div>
            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>  Inventory Managment</h2>

                <p><i class="fa fa-angle-double-right"></i> <b>Breaking bulk:</b> The distributor purchases in large quantities and resells to its customers in smaller quantities.
                </p>
                <p><i class="fa fa-angle-double-right"></i> <b>Selling:</b>  The distributor provides a sales force to its suppliers.

                </p> 
               
            </div>
            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>Warehousing Facilities</h2>

                <p><i class="fa fa-angle-double-right"></i> <b>Storing:</b> The distributor serves in a warehousing capacity for its customers, delivering the goods to its customers at the customers’ request.

                </p>

            </div>
            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i> Transport and Financing</h2>
                <p> <i class="fa fa-angle-double-right"></i> <b>Transporting:</b> The distributor arranges for delivery of goods to its customers.
                </p>
                <p> <i class="fa fa-angle-double-right"></i> <b>Financing:</b> The distributor provides credit terms to its customers.</p>
                <p class="mb-5"> <i class="fa fa-angle-double-right"></i> <b>Drop-shipping distributors:</b> A drop shipper is a distributor who sells merchandise for delivery directly from the supplier to the customer and does not physically handle the product. The distributor does take title to the goods before delivery to its customer,
                </p>
            </div>

            
        </div>
    </div>
</section>