<section>
    <div class="container">
        <img class="Audit-co-operative" src="../../assets/images/Audit-co-operative.png" alt="Audit-co-operative">

    </div>
</section>

<section class="my-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 text-center heading-section ">
                <h2 style="border-bottom: 1px solid black;"><b>D Exim Solutions Pvt. Ltd.</b> Audit of Co-operative Society
                    Services...! </h2>
                <div class="container">
                    <p><i class="fa fa-caret-square-o-right" aria-hidden="true"></i> We are also obtaning the verious
                        Cooprative audits like, Co-Operative Hosing Societies, Patsantha, Small Firms</p>
                    <p><i class="fa fa-caret-square-o-right" aria-hidden="true"></i>Any ten persons who are competent to
                        enter into contract may make an application to the Registrar of Co-operative Societies as per
                        section 6 of the Co-operative Societies Act, 1912.
                    </p>
                    <p><i class="fa fa-caret-square-o-right" aria-hidden="true"></i> Co-operative societies are
                        operative in various sections like consumer, industrial, service, marketing, etc.</p>
                    <p><i class="fa fa-caret-square-o-right" aria-hidden="true"></i> Co-operative societies the terms
                        receipt and payment are used for two-fold aspect of double entry system.</p>
                    <p><i class="fa fa-caret-square-o-right" aria-hidden="true"></i> Members are elected at the annual
                        general meeting of the society. Day-to-day work of cooperative society is managed by the
                        managing committee.
                    </p>
                    <p class="m-3"><b>Audit as Per Section 17 of the Co-operative Society Act, 1912 :</b></p>
                </div>
            </div>

        </div>
        <div class="row no-gutters">
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-university"></span></div>
                    <div class="text media-body">
                        <h3>Apponting Qualification of Auditor </h3>
                        <p>Chartered accountant, Government diploma in Co-operative Account

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-certificate"></span></div>
                    <div class="text media-body">
                        <h3>Appointment of Auditor</h3>
                        <p> The appointment of an Auditor is done by Registrar of Co-operative Societies.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-globe"></span></div>
                    <div class="text media-body">
                        <h3>Rights of an Auditor</h3>
                        <p>Auditor should check all the books, accounts, documents and securities of the society.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="registration">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i> Books of Accounts and Other Records of the
                    Society</h2>
                <p> <i class="fa fa-angle-double-right"></i> <b>Following books and accounts are prescribed by the State
                        Government.
                    </b>
                </p>
                <ul class="ml-5">
                    <li>Cash Book
                    </li>
                    <li>General Ledger
                    </li>
                    <li>Stock register
                    </li>
                    <li>Personal Ledger
                    </li>
                    <li>Register of Members
                    </li>
                    <li>Register of Shares and debentures
                    </li>
                    <li>Minutes books of general body meeting and committee meetings
                    </li>
                    <li>Property Register
                    </li>
                    <li>Register recording loan applications
                    </li>
                    <li>Maintenance of register of audit objections and their rectifications
                    </li>
                </ul>
            </div>


            <div class="col-md-12">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>Restriction on Co-operative Society</h2>
                <p> <b>Let us now understand the restrictions that are imposed on co-operative society.</b></p>
                <p> <i class="fa fa-angle-double-right"></i><b>Restriction on Shareholding
                    </b> liabilities of the members of a society is limited, no member other than a registered society
                    can hold more than 20% of the shares capital or shares of the society worth more than Rs.1,000/-
                </p>
                <p> <i class="fa fa-angle-double-right"></i><b>Restriction on Transfer of Share
                    </b>A member of registered society with unlimited liability cannot transfer any shares held by him
                    or his interest in the capital of the society.
                </p>
                <p> <i class="fa fa-angle-double-right"></i><b>Restriction on Loan
                    </b>As per Section 29 of the Act, a registered society cannot give a advance or any loan to any
                    person other than a member except with the prior permission of the Registrar.
                </p>
                <p> <i class="fa fa-angle-double-right"></i><b>Restriction on Borrowings
                    </b>A registered society can also receive deposits and loans from persons who are not members of the
                    society and only such an extent and under such condition as may be prescribed in law.
                </p>
                <p> <i class="fa fa-angle-double-right"></i><b>Exemptions
                    </b>Central Government may exempt any registered societies or class of registered societies from
                    Income Tax & Stamp duty or registration fees.
                </p>

            </div>

            <div class="col-md-12">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>Reserve Fund, Contribution to Charitable Funds and Distribution of Profit</h2>
                <p><i class="fa fa-angle-double-right"></i>The first 25% of the net profit earned during the year can transferred to a Reserve Fund.
                </p>
                <p><i class="fa fa-angle-double-right"></i>10% of Balance amount of net profit after transferring 25% to Reserve fund, a registered society can use for charitable purpose with the sanction of Registrar.
                </p>
                <p><i class="fa fa-angle-double-right"></i>The balance amount of current profit and past years profit can be distributed to members of the society.
                </p>
                <p><i class="fa fa-angle-double-right"></i>Dividend can be distributed according to rules and by-laws but cannot be more than 6.25%.
                </p>
                <p class="mb-5"><i class="fa fa-angle-double-right"></i>After special order of the State Government, society can distribute his unlimited liability  profit otherwise not.
                </p>
                <!-- <p><i class="fa fa-angle-double-right"></i> </p> -->


            </div>

        </div>
    </div>
</section>