<section class="hero-wrap hero-wrap-2" style="background-image: url(../../assets/images/bg_1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9  text-center">
                <h1 class="mb-2 bread">Company Registration
                </h1>
                <p class="breadcrumbs"><span class="mr-2"><a routerLink="">Home <i class="ion-ios-arrow-forward"></i>
                        </a></span> <span>Company Registration <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="my-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center heading-section ">
                <h2 style="border-bottom: 1px solid black;"><b>D Exim Solutions Pvt. Ltd.</b> Company Registration Services...! </h2>
                <p>To resolve the problems in Import Export Business we provide following diifrent services. we are
                    Consultant for any registration </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-analysis"></span></div>
                    <div class="text media-body">
                        <h3>GST and EPFO Registration </h3>
                        <p>Registred person under GSTcan take credit of the GST,the registered GST supplier is also
                            eligible to pass the ITC to the consumers
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-business"></span></div>
                    <div class="text media-body">
                        <h3>Import Export Code Registration</h3>
                        <p>Direct entry in International Markets <br>Government benefits </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-insurance"></span></div>
                    <div class="text media-body">
                        <h3>Startup India Registration</h3>
                        <p>The Startup India Scheme give an exemption of income tax under section 80 IAC of the Income
                            Tax Act. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-money"></span>
                    </div>
                    <div class="text media-body">
                        <h3>LUT under GST</h3>
                        <p> Exporter can export goods or services without paying the taxes.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-money"></span>
                    </div>
                    <div class="text media-body">
                        <h3>SSI – MSME Registration</h3>
                        <p> Micro and Small Enterprises (CGTMSE). It is more supportive tthat provide the credit and
                            income input from various sources to support industries </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-money"></span>
                    </div>
                    <div class="text media-body">
                        <h3>Shop & Establishment Registration</h3>
                        <p>Shop and Establishment registration is a state-based registration for every business entity
                            to register under local Government.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-intro ftco-no-pb img" style="background-image: url(../../assets/images/bg_3.jpg);">
    <div class="container">
        <div class="row justify-content-center mb-1">
            <div class="col-md-10 text-center heading-section heading-section-white ">
                <h2 class="mb-0">Our all Company and Firm Registration Services...! </h2>
            </div>
        </div>
    </div>
</section>

<section class="registration">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i> GST - One nation One tax menas GST(Goods &
                    Service Tax).</h2>
                <span>Benefits of GST Registration in India</span>
                <p> <i class="fa fa-angle-double-right"></i> <b>Input tax credit and lower cost : </b> Registred person
                    under GSTcan take credit of the GST,the registered GST supplier is also eligible to pass the ITC to
                    the consumers
                </p>
                <p> <i class="fa fa-angle-double-right"></i> <b>Simplified and permanent registration : </b> The
                    processes of registration is totally online after certificate is granted it is called GSTIN.
                </p>
                <p> <i class="fa fa-angle-double-right"></i> <b>Legally recognized as Supplier :
                    </b> Registred persons can take ITC credit & the supplier can also pass on the credit.
                </p>
                <p class="pb-2"> <i class="fa fa-angle-double-right"></i><b>Compliances :</b>Monthely or quarterly
                    returns filling is a mandetory requirment.</p>
                <span>Documents Required for GST Registration Online :</span>
                <p class="pt-2"> <i class="fa fa-angle-right"></i> Digital Signature DSC of Partners or Directors, in
                    case of LLP and Company only
                </p>
                <p> <i class="fa fa-angle-right"></i> Photograph Copy of passport size photograph of the Proprietoror
                    Partners orDirectors</p>
                <p> <i class="fa fa-angle-right"></i> Entity’s PAN Card A copy of PAN Card of business entity
                </p>
                <p> <i class="fa fa-angle-right"></i> PAN & Aadhar Card A copy of Aadhar Card of Proprietoror Partnersor
                    Directors
                </p>
                <p> <i class="fa fa-angle-right"></i> Business Address Proof Latest Electricity billor Any Tax paid
                    billor Municipal Khata Copy
                </p>
                <p> <i class="fa fa-angle-right"></i> Rent Agreement If place is rented, rent agreement is mandatory,
                    else consent letter is sufficient
                </p>
                <p> <i class="fa fa-angle-right"></i> Bank details Latest Bank Statementor Copy of cancelled chequeor
                    copy of first page of passbook
                </p>
                <p> <i class="fa fa-angle-right"></i> Certificate of Registration Entity should provide registration
                    certificate with MoA AoA or LLP Agreement or Partnership Deed as applicable
                </p>

            </div>
            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i> Import Export Code Registration</h2>

                <p> <i class="fa fa-angle-double-right"></i> <b>Direct entry in International Markets :</b> IEC holder
                    can
                    start direct deling in International Market and widening the scope of business. With IEC, one can
                    take their products or services to the global market and expand business with ease.

                </p>
                <p> <i class="fa fa-angle-double-right"></i><b>Government benefits - </b> The IEC holders are eligible
                    to benefit from many Government schemes. The entities are eligible for the schemes under DGFT on
                    their import & export. They can avail the subsidies from Customs and Export Promotion Council or
                    similar government organizations.
                </p>
            </div>
            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>Startup India Registration</h2>
                <p> <i class="fa fa-angle-double-right"></i> <b>To get Tax Exemption - </b> "The Startup India Scheme
                    give an
                    exemption of income tax under section 80 IAC of the Income Tax Act. They can avail tax exemption for
                    Three consecutive financial years out of first Ten years from the date of incorporation provided
                    following conditions ware fulfilled, <br>
                    (1) An entity shall be a Private Limited Company or Limited Liability Partnership. <br>
                    (2) It shall be incorporated between 01st April 2016 to 01st April 2021."
                </p>
                <p> <i class="fa fa-angle-double-right"></i> <b>To get Rebate in Trademark and Patent Application fees -
                    </b> This scheme gives claim a rebate on the government fees for filing a trademark application.
                    also up to 80% rebate in Patent applications and can avail the benefit of fast track patent
                    application.
                </p>
                <p> <i class="fa fa-angle-double-right"></i> <b>Self Certification -</b> Startups can get self certify
                    the compliance under Six Labour Laws and Three Environmental Laws for Five years from the date of
                    Starting Business.
                </p>
                <p> <i class="fa fa-angle-double-right"></i> <b>Eassy to get Government Tenders -</b> DIPP recognition
                    scheme benifishier to Startups apply for Government tenders.
                </p>
            </div>
            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i> LUT under GST</h2>
                <p> <i class="fa fa-angle-double-right"></i> <b>Exports without tax payment -</b> Exporter can export
                    goods or services without paying the taxes. If LUT is not filed, the exporter must first pay the
                    required tax while making exports and then claim a refund to avail benefit of zero-rated exports.
                </p>
                <p> <i class="fa fa-angle-double-right"></i> <b>Simple and online process -</b> The filing of LUT is
                    online. </p>
                <span>Documents required to register :</span>
                <p> <i class="fa fa-angle-right"></i> <b>Entity’s PAN Card -</b> A Copy of PAN card of the exporter
                    entity
                </p>
                <p> <i class="fa fa-angle-right"></i> <b> KYC of Authorised Signatory -</b> A Copy of PAN card and
                    Aadhar card of partners&directors
                </p>
                <p> <i class="fa fa-angle-right"></i> <b>Witnesses -</b> Information of at least two witnesses along
                    with the address proof and PANInformation of at least two witnesses along with the address proof and
                    PAN
                </p>
                <p> <i class="fa fa-angle-right"></i> <b>GST Registration -</b> GST Registration Certificate of the
                    exporter is required
                </p>
                <p> <i class="fa fa-angle-right"></i> <b>IEC Certificate -</b> The IEC certificate must be submitted
                </p>
                <p> <i class="fa fa-angle-right"></i> <b>Cancelled cheque -</b> A Copy of cancelled cheque of current
                    account of exporter
                </p>


            </div>

            <div class="col-md-12  heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i> SSI – MSME Registration</h2>
                <p><i class="fa fa-angle-double-right"></i> <b>For Subsidised rates of loan -</b> The registered Company
                    would be able to get their loans passed at a lower rate of interest and with much ease because of
                    the subsidized rates.</p>
                <p><i class="fa fa-angle-double-right"></i> <b>Rebate on TM application -</b> Company may claim 50%
                    rebate on the Government fees & Petent by submission of MSME registration certificate.
                </p>
                <p><i class="fa fa-angle-double-right"></i> <b>Protection against Delayed payment of Buyers -</b>
                    Companies registred under msme willget protection against delayed payment of buyers. When the buyers
                    have accepted the goods or services, they are liable to pay on time.
                </p>
                <p><i class="fa fa-angle-double-right"></i> <b>Credit Guarantee Scheme -</b> Micro and Small Enterprises
                    (CGTMSE). It is more supportive tthat provide the credit and income input from various sources to
                    support industries which are under struggle.
                </p>
                <span>Documents required to register :</span>
                <p><i class="fa fa-angle-right"></i> <b>Aadhar Card -</b> A Copy of proprietor’s Aadhar card or of
                    director(s) or partner(s) in other cases like Udhyog Aadhar Registration
                </p>
                <p><i class="fa fa-angle-right"></i> <b>PAN card -</b> A Copy of PAN card of the business entity; and of
                    director or partner, if applicable
                </p>

            </div>
            <div class="col-md-12  heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>Shop & Establishment Registration</h2>
                <p><i class="fa fa-angle-double-right"></i>Shop and Establishment registration is a state-based
                    registration for every business entity to register under local Government. Every entity established
                    with the commercial purpose, including trading and service firms, restaurants, coffee house or
                    hotels and also the place of public amusement must obtain this registration. Generally, the time
                    limit provided for the registration is 30 days from the date of establishment.
                </p>
                <p><i class="fa fa-angle-double-right"></i> The main purpose of such registration is to work as per the
                    State laws and secure the benefit for the employees. The license would work as proof of commercial
                    activities for many other registrations and is also helpful for opening a bank account.
                </p>
                <span>Documents required to register :
                </span>
                <p><i class="fa fa-angle-right"></i> <b>PAN CARD -</b> A self-attested copy of PAN card Of
                    Proprietor&Partner& Director
                </p>
                <p><i class="fa fa-angle-right"></i> <b>Address Proof -</b> Self- attested copy of address proof of
                    Proprietor&Partner&Director
                </p>
                <p><i class="fa fa-angle-right"></i> <b>Proof of Establishment -</b> Rent agreement& Ownership Deed&
                    Lease Deed NOC from the owner if rented property
                </p>
                <p><i class="fa fa-angle-right"></i> <b>Incorporation Documents -</b> MoA – AoA of Company, Partnership
                    Deed& LLP Agreement, etc. along with registration certificate, if any, recently clicked the photo of
                    the establishment.
                </p>
                <p><i class="fa fa-angle-right"></i> <b>Passport size photograph -</b> Two passport sized photograph of
                    the business owners
                </p>


            </div>
            <div class="col-md-12  heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i> Professional Tax Registration</h2>
                <p><i class="fa fa-angle-double-right"></i> Professional Tax is a tax collected by State Governments
                    from Companies.
                </p>
                <p><i class="fa fa-angle-double-right"></i> This tax is deducted from the salary of the employee.
                </p>
                <span>Documents required to register :
                </span>
                <p><i class="fa fa-angle-right"></i> <b>ID proof -</b> A self-attested copy of ID proof of Proprietor&
                    Partner& Director
                </p>
                <p><i class="fa fa-angle-right"></i> <b>Address Proof -</b> Self-attested copy of address proof of
                    Proprietor& Partner& Director. Shop and Establishment Certificate(if any )
                </p>
                <p><i class="fa fa-angle-right"></i> <b>Photographs - 3</b> copy of passport size photograph of the
                    Proprietor& Partner& Director
                </p>
                <p><i class="fa fa-angle-right"></i> <b>Incorporation Documents -</b> MoA – AoA of Company, Partnership
                    Deed& LLP Agreement, etc. along with the registration certificate, if any
                </p>
                <!-- <p><i class="fa fa-angle-right"></i></p> -->

            </div>
            <div class="col-md-12  heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>PAN Application</h2>
                <span>Most KYC document in India & it is required for opening Bank Accounts,Every individual, business,
                    entrepreneur requires </span>
                <br><span>to open a savings&current bank account, needs to submit as a KYC documents.</span>
                <br><span>It is also required for filing ITR .</span>
                <p><i class="fa fa-angle-double-right"></i> <b>Proof Nationalized Identity Card -</b> Pan Card is
                    accepted as identity proof for every individual and all the way to the businesses.
                </p>
                <p><i class="fa fa-angle-double-right"></i> <b>For cutting of TDS and TCS transactions -</b> It is eassy
                    to deducting or collecting tax at source.
                </p>
                <span>Documents required to register :
                </span>
                <p><i class="fa fa-angle-right"></i> <b>Address Proof -</b> Copy of Aadhar Card or other address proof,
                    in case of individual
                </p>
                <p><i class="fa fa-angle-right"></i> <b>Photograph -</b> Two passport size photograph, in case of
                    individual
                </p>
                <p><i class="fa fa-angle-right"></i> <b>Birth Certificate -</b> Copy of Birth Certificate, in case of
                    Minor
                </p>
                <p><i class="fa fa-angle-right"></i> <b>Proof from Parents -</b> ID proof and Address proof of any of
                    the parent
                </p>
                <p><i class="fa fa-angle-right"></i> <b>Certificate of Incorporation -</b> CoI in case of company and
                    LLP
                </p>
                <p><i class="fa fa-angle-right"></i> <b>Agreement -</b> Agreement in case of LLP and Partnership Firm
                </p>



            </div>
            <div class="col-md-12  heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i> TAN Application</h2>
                <span>Tax Account Number is commonly referred as Tax Deduction Account Number or Tax Collection Account
                    Number.
                </span>
                <p><i class="fa fa-angle-double-right"></i> <b>Mandatory for deduction & collection of tax -</b> While
                    any tax collect or deduct the tax by assess, Tax Account Number is mandatory.
                </p>

                <p><i class="fa fa-angle-double-right"></i> <b> TDS Certificate and Filing -</b> The certificate of TDS
                    must quote the TAN of the deductors and while filing TDS returns online or providing TAN is
                    mandatory.
                </p>
                <span>Documents required to register :
                </span>

                <p><i class="fa fa-angle-right"></i> <b>Address Proof -</b> Copy of Aadhar Card or other address proof
                </p>
                <p><i class="fa fa-angle-right"></i> <b>Applicants Information -</b> Name, contact details and signature
                    of the applicant
                </p>
                <p><i class="fa fa-angle-right"></i> <b>Certificate of Incorporation -</b> Certificate of Incorporation
                    in case of company and LLP
                </p>
                <p><i class="fa fa-angle-right"></i> <b>Agreement -</b> Agreement in case of LLP and Partnership Firm
                </p>
                <!-- <p><i class="fa fa-angle-right"></i> <b></b> </p> -->

            </div>

            <div class="col-md-12  heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>FSSAI Registration</h2>
                <p><i class="fa fa-angle-double-right"></i>Every person who wants to start Food Business it is
                    mandatorily to take FSSAI Registration.
                </p>
                <span>Documents required to register :
                </span>
                <p><i class="fa fa-angle-double-right"></i> Declaration Form, Authority Letter, Three Passport Size
                    Photographs - (Proprietor & Partner & Director), Photo Identity of FBO., Proof of possession of
                    Place of Business such as Rent Agreement, NOC etc., Electricity Bill or Water Bill of the business
                    premises, Property Tax Bill, Product List to be dealt with., Plan stating Food Safety Management
                    System., Form-A Completed and Signed, Constitution of Business such as Incorporation Certificate,
                    Partnership Deed etc.

                </p>
                <span>FSSAI License: There are two types of FSSAI licences.
                </span>
                <p><i class="fa fa-angle-double-right"></i><b>State License -</b> Eligibility: Food Businesses having
                    turnover above Rs.12 lacs and up to Rs. 20 crores can opt for State License.
                </p>
                <p><i class="fa fa-angle-double-right"></i><b>Central License -</b> Eligibility: Those in the food
                    business and has a turnover of Rs.Twenty crores and above are required to obtain Central FSSAI
                    License.
                </p>
                <span>Documents required to register :
                </span>
                <p> <i class="fa fa-angle-double-right"></i>Form B, List of Directors & Partners& Proprietor with
                    address, contact details, and photo ID, Name and list of equipment and machinery used with the
                    number and installed capacity, List of food category to be manufactured, Authority letter from
                    manufacturer nominated a responsible person name and address, Analysis report of water to be used in
                    the process to confirm the portability, Proof of possession of premises- Electricity Bill (latest),
                    Index Copy (if the applicant id the owner of the place), Rent Agreement, if applicable, Property Tax
                    Bill of Business premises, 2 Passport Size Photographs - (Proprietor & Partner & Director), Shop &
                    Establishment Certificate with Professional Tax Certificate, PAN of the Business (Partnership &
                    Private Limited Company & LLP), MOA &AOA of Private Limited Company and LLP Agreement of LLP,
                    Certificate of Incorporation of LLP & Private Limited Company, Partnership deed& affidavit of
                    proprietorship, B. U. Permission & Impact Fee Receipt, Medical Certificate Of Workers, NOC and copy
                    of License from the manufacturer, Copy of certificate obtained under Coop Act 1861&Multi state Coop
                    Act 2002
                </p>
            </div>



            <div class="col-md-12  heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i> IGST refund working & filling</h2>
                <span>This Scheme designed to provide rewards to exporters to offset infrastructural inefficiencies and
                    associated costs. The Duty Credit Scrips</span>
                <span> and goods imported/ domestically procured against them shall be freely transferable. The Duty
                    Credit Scrips can be used for:</span>
                <p><i class="fa fa-angle-double-right"></i> (i) Payment of Basic Customs Duty and Additional Customs
                    Duty
                    specified under sections 3(1), 3(3) and 3(5) of the Customs Tariff Act, 1975 for import of inputs or
                    goods, including capital goods, as per DoR Notification, except items listed in Appendix 3A.
                </p>
                <p><i class="fa fa-angle-double-right"></i> (ii) Payment of Central excise duties on domestic
                    procurement of inputs or goods,
                </p>
                <p><i class="fa fa-angle-double-right"></i> (iii) Payment of Basic Customs Duty and Additional Customs
                    Duty specified under Sections 3(1), 3(3) and 3(5) of the Customs Tariff Act, 1975 and fee as per
                    paragraph 3.18 of this Policy.
                </p>
                <p><i class="fa fa-angle-double-right"></i> Objective of the Merchandise Exports from India Scheme
                    (MEIS) is to promote the manufacture and export of notified goods/ products.
                </p>
            </div>


            <div class="col-md-12 mb-5 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i> ESIC</h2>
                <span>Employee State Insurance Registration is madetory to all the companies with having more than 10
                    employees drawing </span><br>
                <span>a maximum monthly salary of Rs. 15000.</span>
                <p><i class="fa fa-angle-double-right"></i>Benefit of ESIC
                </p>
                <ul class="ml-5">
                    <li>Medical Assistance
                    </li>
                    <li>Maternity Benefit
                    </li>
                    <li>Impairment Benefits
                    </li>
                    <li>Sickness Aids
                    </li>
                    <li>Dependent Assistances
                    </li>
                    <li>Cremation Expenses
                    </li>
                    <li>Confinement Expenses
                    </li>
                </ul>
                <span>Documents required to register :</span>
                <p class="pb-5"><i class="fa fa-angle-double-right"></i>Registration certificate as obtained under – Factories Act
                    and Shops and Establishment Act, Certificate of registration in case of a company and LLP and
                    partnership deed for a Partnership firm, MOA and AOA of the company, LLP Agreement in case of an
                    LLP, Attendance register of the employees, PAN card of the business establishment, Scanned copy of
                    the Property Tax bill, Rent agreement, in case of rented property along with Utility Bill, Scanned
                    copy of the licenses received by the company such as GST Certificate etc., A cancelled cheque of the
                    bank account of the company, Digital signature of the Proprietor, Partner or Director as the case
                    may be, List of Directors of the company, List of Shareholders (as on date) in the company, Address
                    proof of the Proprietor, Partner or the Company’s Directors as the case may be, Mobile number and
                    email id of Proprietor, Partner or the Company’s Directors as the case may be., List of all
                    employees working in the establishment along with employee details such as :Full Name,father’s
                    name,Mobile Number,Date of Birth,Date of joining,Salary,Postal Address,Name of the
                    Nominee,Grade,Identity proof such as PAN or Aadhar Card,Bank Account Number etc.
                    Benefit of ESIC</p>
            </div>
        </div>
    </div>
</section>