<mat-card class=" matcard ">
    <div class="row">
        <div class="col-md-4">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Category Name" #input>
            </mat-form-field>
        </div>
        <div class="col-md-7 form-group"> 
            <button type="submit" class=" buttons" matTooltip=".xlsx" style="float:right"
                (click)="exportToExcel()"[ngClass]="{'disable-button': exportButton == false  }"><i class="fa fa-file-excel-o" aria-hidden="true">&nbsp; &nbsp;Export</i>
            </button>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 styles">

            <!-- Position Column -->
            <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                <td mat-cell *matCellDef="let element; index as i;"> {{paginator.pageSize * paginator.pageIndex + i + 1}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
 


            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            
            <ng-container matColumnDef="mobile">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
                <td mat-cell *matCellDef="let element"> {{element.mobileNo}} </td>
            </ng-container>
            
            <ng-container matColumnDef="message">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Message </th>
                <td mat-cell *matCellDef="let element"> {{element.message}} </td>
            </ng-container>

  
            <!-- <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                <td mat-cell *matCellDef="let element">  <button type="button" class="btn btn-dark" title="Edit Rolemaster"
                    (click)=" GetByIdMarquee(element.marqueeId)">
                    <i class="fa fa-pencil-square-o"></i>
            </button></td>
            </ng-container> -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons class="stylespagination">
        </mat-paginator>
    </div>
</mat-card>
