<section class="hero-wrap hero-wrap-2" style="background-image: url(../../assets/images/bg_1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9  text-center">
                <h1 class="mb-2 bread"> Business Advisor</h1>
                <p class="breadcrumbs"><span class="mr-2"><a routerLink="">Home <i class="ion-ios-arrow-forward"></i>
                        </a></span> <span>Business Advisor<i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="my-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center heading-section ">
                <h2 style="border-bottom: 1px solid black;">D Exim Solutions Pvt. Ltd. Business Advisor Services...! </h2>
                <p>To resolve the problems in Import Export Business we provide following diifrent services.</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-database"></span></div>
                    <div class="text media-body">
                        <h3>Import Export Data provider</h3>
                        <p>We are providing information about all our Indian Govt. rules regulations for export
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-business"></span></div>
                    <div class="text media-body">
                        <h3> Export Marketing </h3>
                        <p> The information provided here is part of Import Export online Training. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-insurance"></span></div>
                    <div class="text media-body">
                        <h3>Digital World</h3>
                        <p>Digital world changed each human being in the world widely for the past two decades.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-money"></span>
                    </div>
                    <div class="text media-body">
                        <h3> Online Marketing</h3>
                        <p> SEO plays a vital role in searching the content tags of your details by any one looking for
                            a supplier of product similar to yours.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-google-plus"></span>
                    </div>
                    <div class="text media-body">
                        <h3>Social Media</h3>
                        <p>Effective communication plays an important role in business market.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-chain-broken"></span>
                    </div>
                    <div class="text media-body">
                        <h3>Trade Fair & Exhibition</h3>
                        <p>Attend in Trade fair, exhibit your product. There are many International Trade fairs
                            conducting within the country and abroad.</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- <hr style="border-bottom: 1px solid black;"> -->
    </div>
</section>

<section class="ftco-intro ftco-no-pb img" style="background-image: url(../../assets/images/bg_3.jpg);">
    <div class="container">
        <div class="row justify-content-center mb-1">
            <div class="col-md-10 text-center heading-section heading-section-white ">
                <h2 class="mb-0"> Our Business Advisor Services...! </h2>
            </div>
        </div>
    </div>
</section>

<section class="registration">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>Import Export Data provider</h2>

                <p> <i class="fa fa-angle-double-right"></i>We are providing information about all our Indian Govt.
                    rules regulations for export.</p>
                <p> <i class="fa fa-angle-double-right"></i> We are providing information for finacial & Banking support
                    to exporters
                </p>
                <p> <i class="fa fa-angle-double-right"></i> We are providing information about rules & regulation of
                    all countries for import export

                </p>
                <p> <i class="fa fa-angle-double-right"></i> We are helping to find overseas buyers for you.

                </p>
                <p> <i class="fa fa-angle-double-right"></i> We are providing information for how to export Import

                </p>
                <span> How to get Export orders?
                </span>
                <p> <i class="fa fa-angle-double-right"></i> The information provided here is part of Import Export
                    online Training
                </p>
            </div>
            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>  Export Marketing </h2>
                <span>How to get export order from overseas buyers?
                </span>
                <p> <i class="fa fa-angle-double-right"></i> Getting an export order is the major task of any export
                    business. Every business individual or firm has their own market strategies to obtain export orders.
                    Without receiving an export order, the company can not survive.</p>
                <p> <i class="fa fa-angle-double-right"></i> Beginner of any export firm focuses on the strategies to
                    get export orders to sell their product.
                </p>
                <p> <i class="fa fa-angle-double-right"></i>How to obtain export orders?
                </p>
                <p> <i class="fa fa-angle-double-right"></i>Please find below tips for obtaining export business order.
                </p>
            </div>
            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>Digital World</h2>
                <span>With using the Digital world </span>
                <p> <i class="fa fa-angle-double-right"></i>Digital world changed each human being in the world widely
                    for the past two decades. Information technology plays a vital role in all sectors especially in
                    international business. </p>
                <p> <i class="fa fa-angle-double-right"></i>Before 1990s, getting a contact of foreign buyer was a
                    herculean task. Now world changed like anything. I will always put you as first tool of
                    international marketing as the utilization of internet service.</p>

            </div>

            <div class="col-md-12  heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>Online Marketing</h2>
                <span>How to use the service of internet in marketing your product?</span>
                <p><i class="fa fa-angle-double-right"></i> Search Engine Optimization (SEO) plays a vital role in
                    searching the content tags of your details by any one looking for a supplier of product similar to
                    yours.
                </p>

                <p><i class="fa fa-angle-double-right"></i> Joining with Social media like face book, twitter, plaxo,
                    linked in. Do not forget to regulate false comments by proper administration.
                </p>
                <p><i class="fa fa-angle-double-right"></i>You tube; flicker, e-magazines etc. also can be used to
                    increase your export market.
                </p>
                <p><i class="fa fa-angle-double-right"></i> Writing articles on your website helps the readers of
                    internet to identify your caliber in the trade.
                </p>
                <!-- <p><i class="fa fa-angle-double-right"></i> </p> -->

            </div>
            <div class="col-md-12  heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>Social Media</h2>
                <p class="mb-5"><i class="fa fa-angle-double-right"></i> <b>Effective communication</b> plays an
                    important role in business market. If you can  effectively communicate with the buyer to convince
                    the quality and price of your product, the buyer will surely take initiation to ask you send sample
                    of your product and later place the order.
                </p>
            </div>

            <div class="col-md-12  heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>Trade Fair & Exhibition</h2>
                <p class="mb-5"><i class="fa fa-angle-double-right"></i> Attend in Trade fair, exhibit your product. There are many International Trade fairs conducting within the country and abroad, where you can exhibit your product to attract foreign buyers.

                </p>
            </div>
        </div>
    </div>
</section>