.material-icons
{
    /* height:100px; */
    width:50px;

}
.mt
{
     background-color: #6BD098;
     box-shadow: gray 4px 4px 4px 4px;
}
.mt1{
    background-color: #FCC468;
    box-shadow: gray 4px 4px 4px 4px;
}
.mycrd
{
    box-shadow: gray 4px 4px 4px 4px;
}
