  
  @media only screen and (max-width: 769px) {
  
    #wishlist-container, #buy-container {
      padding: 0 0 15px 0;
    }
    .webshop-zoom{
      margin-left: 2% !important;
      margin-right: 2%!important;
    }
    .extra-details .first img{
      width: 40% !important; 
      margin-top: 4%;
    }
    .warranty{
      width: 15% !important; 
    }
    .extra-details .col-md-2 .row .col-md-4 i{
      width: 30%;
      font-size: 40px;
      color: #1b9ce3;
      padding: 2px;
      margin-left: 1% !important;
    }
    .extra-details .col-md-2 .row{
      margin: 2%;
    }
    
    #product-gd .product-grid {
      margin: 1%;
    }
    .drift-demo-trigger{
      width: 100%;
      height: 300px !important;
      cursor: pointer;
    }
  }
h1 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .details .row .col-md-6 h4{
    margin: 0;
  }
  .details .row .col-md-6 ul{
    margin: 0;
    /* padding: 1%; */
  }
  .price {
    margin-bottom: 0;
  }
  .small-text{
    margin: 0;
  }
  
  .wrapper {
    margin: 0 auto;
    width: 860px;
  }
  .drift-demo-trigger{
    width: 100%;
    height: 500px;
    cursor: pointer;
  }
  /* .catag{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  } */
  .catag ul {
    list-style: none;
    line-height: 2;
    font-weight: 600;
    font-size: 21px;
    padding: 0;
  }
  .catag ul li{
    color: rgb(255, 255, 255);
    background-color: #1b9ce3;
    border: 1px solid #1b9ce3;
    border-radius: 20px;
    border-bottom: 1px solid;
    text-align: center;
  }
  .catag ul li:hover{
    color:#1b9ce3;
    background-color: #ffffff;
    border-bottom: 1px solid;
    border-radius: 20px;
    text-align: center;
  }

  .webshop-zoom{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 3%;
    padding-bottom: 3%;
  }
  .drift-row .colmsas{
    border-right: 1px solid rgb(68, 68, 68);
  }
  .columns {
    margin: 0 auto;
    max-width: 900px;
  }
  
  .details {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
  }
  .details h1{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
  }
  .thumbnail-container {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
  }
  
  .price {
    font-size: 20px;
    color: #777474;
  }
  
  .wishlist-container {
    padding-left: 0;
  }
  
  #header {
    width: 100%;
    text-align: center;
    background: white;
    padding: 5px;
    /*box-shadow: 0 10px 17px 0px #c0c0c0;*/
    box-shadow: 0 5px 10px 0px #dbd7d7;
  }
  #header img {
    max-width: 30px;
  }
  
  .columns {
    margin-top: 30px;
  }
  
  .button {
    width: 100%;
    border-radius: 0;
  }
  
  .select, select {
    width: 100%;
    border-radius: 0 !important;
  }
  
  #wishlist-container {
    padding-left: 0;
  }
  
  #buy-container {
    padding-right: 0;
  }
  
  .small-text {
    font-size: 14px;
  }
  
  .small-text span {
    font-weight: bold;
  }
  
  .buy-button {
    background: #1b9ce3;
    color: white;
    border: none;
  }
  
  .buy-button:hover, .buy-button:active, .buy-button:focus {
    color: white;
    opacity: 0.9;
  }
  

  .extra-details .first img{
    width: 64%;
  }
  
  .extra-details .col-md-2 {
    border-right: 1px solid rgb(201, 201, 201);
  }
  .extra-details .col-md-2 p img{
    width: 30%;
  }
  .extra-details .col-md-2 .row .col-md-4 i{
    width: 30%;
    font-size: 40px;
    color: #1b9ce3;
    padding: 2px;
    margin-left: 15%;
  }
  .extra-details .col-md-2 p{
    font-size: 13px;
    color: rgb(94, 92, 92);
    font-weight: 300;
    margin: 0;
    padding: 0;
  }
  .extra-details .col-md-2 span{
    /* box-sizing: unset; */
    /* float: right; */
    position: relative;
    margin-top: 0;
    font-size: 14px;
    color: black;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }
  .extra-details .col-md-2 .row .col-md-4{
    padding: 0;
    margin: 0;
  }
  .extra-details .col-md-2 .row .col-md-8{
    padding: 0;
    margin: 0;
  }


  /*
 CSS for the main interaction
*/
.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

/*
 Styling
*/
body {
  font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
  color: #333;
  font-weight: 300;
}

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}

.tabset > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #8d8d8d;
}

.tabset > label:hover,
.tabset > input:focus + label {
  color: #06c;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #06c;
}

.tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}

.tab-panel {
  padding: 30px 0;
  border-top: 1px solid #ccc;
}

/*
 Demo purposes only
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 30px;
}

.tabset {
  max-width: 65em;
}