<section class="product ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 webshop-zoom">
                <div class="row drift-row">
                    <div class="col-md-6 colmsas">
                        <div class="column">
                            <div class="thumbnail-container">
                                <img class="drift-demo-trigger" 
                                    src="{{productModel.photoLink}}">

                                    <!-- data-zoom="https://awik.io/demo/webshop-zoom/shoe-large.jpg"
                                    src="https://awik.io/demo/webshop-zoom/shoe-small.jpg"> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="column">
                            <div class="details">
                                <h1 style="font-size: 40px;">{{productModel.name}}</h1>
                                <!-- <p class="price">$95.99</p> -->
                                <hr style="margin: 0; padding: 0;">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                        <h4>Description</h4>
                                        {{productModel.descriptions}}
                                    </div>
                                     


                                    <!-- <div class="col-md-6">
                                <div class="column" id="wishlist-container">

                                    <button class="button">
                                        <span class="icon is-small">
                                            <i class="fa fa-heart"></i>
                                        </span>
                                        <span> ADD TO WISHLIST</span>
                                    </button>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="column" id="buy-container">

                                    <button class="button buy-button">
                                        <span class="icon is-small">
                                            <i class="fa fa-shopping-bag"></i>
                                        </span>&nbsp;
                                        <span> ADD TO BAG</span>
                                    </button>

                                </div>
                            </div> -->
                                </div>
                                <hr>
                                <p class="small-text"><span>Standard delivery</span> 2-5 working days</p>
                                <p class="small-text"><span>Next day delivery</span> order before 2pm ($5.79)</p>

                            </div>
                        </div>
                    </div>
                </div>
                <hr style="margin: 0;margin-top: 1%; padding: 0;">
                <div class="row extra-details">
                    <!-- <div class="col-md-1"></div>  -->

                    <div class="col-md-2 first">
                        <img src="../../../assets/images/2021.png" alt="Logo">
                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="../../../assets/images/warranty.png" class="img-fluid warranty" alt="">

                            </div>

                            <div class="col-md-8">
                                <p><span>WARRANTY</span> <br>
                                    As per 'D-Exim'
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-4">
                                <!-- <img src="../../../assets/images/warranty.png"  class="img-fluid warranty" alt=""> -->
                                <i class="fa fa-star"></i>
                            </div>

                            <div class="col-md-8">
                                <p><span>100% Orignal</span> <br>
                                    Product
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-4">
                                <!-- <img src="../../../assets/images/warranty.png"  class="img-fluid warranty" alt=""> -->
                                <i class="fa fa-lock"></i>
                            </div>

                            <div class="col-md-8">
                                <p><span>SECURE</span> <br>
                                    Payment options
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-4">
                                <i class="fa fa-shield"></i>
                                <!-- <img src="../../../assets/images/warranty.png"  class="img-fluid warranty" alt=""> -->

                            </div>

                            <div class="col-md-8">
                                <p><span>100% BUYER</span> <br>
                                    Protation
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-1"></div>  -->
                    <!-- <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="../../../assets/images/warranty.png" class="img-fluid warranty" alt="">

                            </div>

                            <div class="col-md-8">
                                <p><span>WARRANTY</span> <br>
                                    As per 'D-Exim'
                                </p>
                            </div>
                        </div>
                    </div> -->
                </div>

                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="tabset">
                            <!-- Tab 1 -->
                            <input type="radio" name="tabset" id="tab1" aria-controls="marzen" checked>
                           
                            <!-- Tab 2 -->
                            <!-- <input type="radio" name="tabset" id="tab2" aria-controls="rauchbier">
                    <label for="tab2">SPECIFICATION</label> -->
                            <!-- Tab 3 -->
                            <input type="radio" name="tabset" id="tab3" aria-controls="dunkles">

                            <div class="tab-panels">
                                <!-- <section id="marzen" class="tab-panel">
                                    <h4> Product Name :</h4>
                                    <p><strong>Discription:</strong> An elegant, malty German amber lager with a
                                        clean, rich, toasty and bready malt flavor, restrained bitterness, and a dry
                                        finish that encourages another drink. The overall malt impression is soft,
                                        elegant, and complex, with a rich aftertaste that is never cloying or heavy.</p>
                                </section> -->
                                <!-- <section id="rauchbier" class="tab-panel">
                            <table class="table table-bordered table-hover ">
                                <thead>
                                    <tr>
                                        <th>Firstname</th>
                                        <th>Lastname</th>
                                        <th>Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>John</td>
                                        <td>Doe</td>
                                        <td>john@example.com</td>
                                    </tr>
                                    <tr>
                                        <td>Mary</td>
                                        <td>Moe</td>
                                        <td>mary@example.com</td>
                                    </tr>
                                    <tr>
                                        <td>July</td>
                                        <td>Dooley</td>
                                        <td>july@example.com</td>
                                    </tr>
                                </tbody>
                            </table>
                        </section> -->
                                <!-- <section id="dunkles" class="tab-panel">
                                    <table class="table table-bordered table-hover ">
                                        <tr>
                                            <td>Mary</td>
                                            <td> <a routerLink=""> Test Link</a></td>
                                        </tr>
                                        <tr>
                                            <td>Mary</td>
                                            <td><a routerLink="">Test Link</a></td>
                                        </tr>
                                    </table>
                                    <p><strong>History:</strong> Originated in the Northern German city of Einbeck,
                                        which was a brewing center and popular exporter in the days of the Hanseatic
                                        League (14th to 17th century). Recreated in Munich starting in the 17th century.
                                        The name “bock” is based on a corruption of the name “Einbeck” in the Bavarian
                                        dialect, and was thus only used after the beer came to Munich. “Bock” also means
                                        “Ram” in German, and is often used in logos and advertisements.</p>
                                </section> -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <!-- <div class="col-md-2 catag">
                <h4>All Categorys</h4>
                <ul>
                    <li>one</li>
                    <li>one</li>
                    <li>one</li>
                    <li>one</li>
                </ul>
            </div> -->
        </div>
    </div>
</section>