<section class="hero-wrap hero-wrap-2" style="background-image: url(../../assets/images/bg_1.jpg);">
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-3 text-center">
                <img class="vfx-logo" src="../../../assets/images/VFX.png" alt="VFX">
            </div>
            <div class="col-md-5 text-center">
                <h1 class="mb-2 bread text-capitalize">A A VFX</h1>
                <p class="breadcrumbs"><span class="mr-2"><a routerLink="">Home <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>AA VFX<i
                            class="ion-ios-arrow-forward"></i></span></p>
            </div>
            <div class="col-md-4 text-center"></div>

        </div>
    </div>
</section>

<section class="my-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 text-center heading-section ">
                <h2 style="border-bottom: 1px solid black;">D Exim Solutions Pvt. Ltd. VFX Services...!</h2>
                <p>VFX Animation Freelancers Truelancer is a curated freelance marketplace
                    with thousands of top rated VFX Animation Freelancers.
                </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-video-camera"></span></div>
                    <div class="text media-body">
                        <h3>Video Editing</h3>
                        <p> A video editor works closely with the director to maintain
                            integrity, edit scenes, select angles and points of view
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-audio-description"></span></div>
                    <div class="text media-body">
                        <h3> Animation & Creation</h3>
                        <p>VFX Animation Freelancers Truelancer is a curated freelance marketplace with thousands of top
                            rated VFX Animation Freelancers.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-adn"></span></div>
                    <div class="text media-body">
                        <h3>Advertisement and Logo creation</h3>
                        <p>Advertisement and Logo creation is the another service of VFX animation we do it for
                            customers. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-picture-o"></span>
                    </div>
                    <div class="text media-body">
                        <h3>Industrial Photography And Portfolio</h3>
                        <p>We create industrial Photography And Portfolio for market research survey to rank your
                            company
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-camera-retro"></span>
                    </div>
                    <div class="text media-body">
                        <h3>Industrial Video shooting</h3>
                        <p>AA VFX provide Industrial video shooting for brand marketing and innovation on new Business.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-file-image-o"></span>
                    </div>
                    <div class="text media-body">
                        <h3>Wedding Photography and Videos</h3>
                        <p>Wedding Photography,Cinematic Video,Prewedding Songs and Babyshower</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-intro ftco-no-pb img" style="background-image: url(../../assets/images/bg_3.jpg);">
    <div class="container">
        <div class="row justify-content-center mb-1">
            <div class="col-md-10 text-center heading-section heading-section-white ">
                <h2 class="mb-0">A A VFX Services...! </h2>
            </div>
        </div>
    </div>
</section>


<section class="registration">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>VIDEO EDITOR DO</h2>
                <p> <i class="fa fa-angle-double-right"></i> When we video editor is working freelance, this means,
                    we’re not tied to a production company and can accept projects from anyone or any company. A video
                    editor works closely with the director to maintain integrity, edit scenes, select angles and points
                    of view (POVs), and implement post-production enhancement.
                </p>
            </div>
            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i> VFX ANIMATION IS
                </h2>

                <p><i class="fa fa-angle-double-right"></i> VFX Animation Freelancers Truelancer is a curated freelance
                    marketplace
                    with thousands of top rated VFX Animation Freelancers. It is simple
                    and quick to Post your job and get quick quotes for your
                    VFX Animation Freelancer requirement

                </p>

            </div>
            <div class="col-md-12 heading-section">
                <h2 class="mt-4 text-center">Contact for enquiry:</h2>

                <p class="text-center mb-5"> Mr. Rahul Dhadave (Media Partner) <br>
                    9175009797 <br>
                    7020552911<br>
                    E-Mail Id - rahuldhadave@gmail.com

                </p>

            </div>
        </div>
    </div>
</section>