<section class="hero-wrap hero-wrap-2" style="background-image: url(../../assets/images/bg_1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9  text-center">
                <h1 class="mb-2 bread">Strategy Formulator</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>Strategy Formulator<i
                            class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="my-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center heading-section ">
                <h2 style="border-bottom: 1px solid black;">D Exim Solutions Pvt. Ltd. Solutions Strategy formulator
                    Services...! </h2>
                <p>To resolve the problems in Import Export Business we provide following diifrent services.</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-bullseye"></span></div>
                    <div class="text media-body">
                        <h3>Goal Setting</h3>
                        <p>Clarify the vision for your business by setting clear goals. Where do we want to be?
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-business"></span></div>
                    <div class="text media-body">
                        <h3>Situation Analysis</h3>
                        <p>Once you have the vision of the company gather the information that will help you accomplish
                            your goals.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-eye"></span></div>
                    <div class="text media-body">
                        <h3>Strategy Formulation</h3>
                        <p> Strategy Formulation entails coming up with both long and short-term goals. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 d-flex"></div>

            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-industry"></span>
                    </div>
                    <div class="text media-body">
                        <h3>Strategy Implementation</h3>
                        <p> Implementation happens to be a more challenging and delicate task than strategy formulation.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 d-flex"></div>

            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-film"></span>
                    </div>
                    <div class="text media-body">
                        <h3>Strategy Evaluation</h3>
                        <p>This is the final stage of the strategic management process.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 d-flex"></div>

        </div>
    </div>
</section>


<section class="ftco-intro ftco-no-pb img" style="background-image: url(../../assets/images/bg_3.jpg);">
    <div class="container">
        <div class="row justify-content-center mb-1">
            <div class="col-md-10 text-center heading-section heading-section-white ">
                <h2 class="mb-0">Our Strategy Formulator Services...! </h2>
            </div>
        </div>
    </div>
</section>

<section class="registration">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>Goal Setting</h2>
                <p> <i class="fa fa-angle-double-right"></i>
                    Clarify the vision for your business by setting clear goals. Where do we want to be? This is the
                    first question to be asked in a strategic planning process. Once you have come up with clear goals,
                    write a mission statement that tells your employees and shareholders these plans.
                    <br>
                    For example, the Microsoft vision 30 years ago was “a computer on every desk”. Goals can be created
                    by Founders and CEO of a company and communicated downwards or by a process involving all members of
                    an organization.

                </p>
                <!-- <p> <i class="fa fa-angle-double-right"></i>Under the preferential scheme, a COO is issued in case of exports for which India receives tariff preferences. </p> -->
            </div>

            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i> Situation Analysis</h2>
                <p> <i class="fa fa-angle-double-right"></i> Once you have the vision of the company gather the
                    information that will help you accomplish your goals. A good place to start is by doing a SWOT
                    analysis. Here you look at the organizations,

                </p>
                <p> <i class="fa fa-angle-double-right"></i> <b>Strengths– </b> These are things a company is good at
                    doing or characteristics that give it enhanced competitiveness e.g., physical assets, intangible
                    assets, etc.
                </p>
                <p> <i class="fa fa-angle-double-right"></i> <b>Weaknesses–</b> These are what a company lacks, does
                    poorly or a condition that puts it at a disadvantage. A weakness represents a company’s competitive
                    liability.
                </p>
                <p> <i class="fa fa-angle-double-right"></i>  <b>Opportunities–</b> An opportunity is that which enables
                    a company to excel in achieving its objectives. It is external to the organization and can be a
                    source of growth, profitability, or gaining a competitive advantage.
                </p>
                <p> <i class="fa fa-angle-double-right"></i>  <b>Threats–</b> These are factors that could inhibit a
                    company’s ability to achieve its targets. They inhibit growth, profitability, erode competitive
                    advantage, and are also external to the organization.
                </p>
                <p> <i class="fa fa-angle-double-right"></i> When doing a SWOT Analysis, you look at both External
                    (macro-environment, industry, competition, customers) and internal factors (resources, culture,
                    competencies). The external analysis aims to identify opportunities and threats in the environment.
                    The internal analysis identifies the strengthens and weaknesses of the organization.
                </p>


            </div>
            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i> Strategy Formulation</h2>
                <p> <i class="fa fa-angle-double-right"></i> Once you have discovered your strengthens, weaknesses,
                    opportunities, and threats you can begin creating your strategy. Strategy Formulation entails coming
                    up with both long and short-term goals. In this phase, you need to answer four key questions.

                </p>
                <p> <i class="fa fa-angle-double-right"></i> <b>Where are you now?
                    </b>The SWOT analysis will help you answer this question.
                </p>
                <p> <i class="fa fa-angle-double-right"></i> <b>Where do you want to go?
                    </b>You answer this by outlining the future desired position of the company.
                </p>
                <p> <i class="fa fa-angle-double-right"></i> <b>How do you get there?
                    </b>Come up with sets of activities to be pursued towards the realization of objectives. Use SWOT to
                    identify possible strategies by building on strengthens, resolving weaknesses, exploiting
                    opportunities, and avoiding threats.
                </p>
                <p> <i class="fa fa-angle-double-right"></i> <b>How will you know you’ve got there?
                    </b> Answering this question means developing a mechanism on how to monitor the strategy you decide
                    on.
                    Answering those questions will give you a clear strategy for your company.
                </p>
                <!-- <p> <i class="fa fa-angle-double-right"></i> </p> -->

            </div>
            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i> Strategy Implementation</h2>
                <p> <i class="fa fa-angle-double-right"></i> once you’re done with the strategy formulation it is now
                    time for action. A strategy must be put into action for it to deliver results otherwise it will be
                    just another document. Implementation happens to be a more challenging and delicate task than
                    strategy formulation.

                </p>
                <p> <i class="fa fa-angle-double-right"></i> Some delicate and sensitive issues involved at this stage
                    are resource mobilization, restructuring, cultural changes, leadership changes, etc. To
                    operationalize the new strategy, you need to ensure daily activities, work efforts and resources are
                    directed fully toward implementing the strategy. A typical action plan would entail having
                    <b> <br>
                        Objectives (i.e. operational objectives) <br>
                        Activities<br>
                        Timeframe<br>
                        Person responsible<br>
                        Budget
                    </b>
                </p>
                <p> <i class="fa fa-angle-double-right"></i> Implementing the strategy, therefore, involves recasting and translating the strategy into shorter time frames appropriate for implementation. The culture and leadership of the organization may have to change to be compatible with the strategy being implemented.
                </p>
                <p> <i class="fa fa-angle-double-right"></i> Given that strategy, implementation will definitely face hurdles consider having a strategy and reward system. The reward system should match the strategy so as to motive its execution. Rewards can take various forms such as promotions, salary increments, bonuses, awards, and so on.
                </p>
                <p> <i class="fa fa-angle-double-right"></i>Actions that are consistent with strategy implementation should be rewarded. Such actions could include attitudes, behavior, or performance that fosters the accomplishment of strategic objectives.
                </p>

            </div>

            <div class="col-md-12  heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i> Strategy Evaluation</h2>
                <p><i class="fa fa-angle-double-right"></i>This is the final stage of the strategic management process. At this stage, your strategy is already in action and you need to measure the effectiveness of the strategy. Measure the progress by comparing the plan against actual results.

                </p>
                <p><i class="fa fa-angle-double-right"></i>If the company is properly implementing its strategy results should be as expected in the strategy or not far off. If results are below par something is wrong with the implementation and corrective actions should be taken.
                </p>
                <p class="mb-5"><i class="fa fa-angle-double-right"></i> At the evaluation, the key thing is the feasibility of the strategy. Check if the resources required to implement the strategy are available, can be developed or obtained. Resources include funding, people, time, and information. Tools used to evaluate feasibility include cash flow analysis and forecasting, break-even analysis, and resource deployment analysis
                </p>

            </div>

        </div>
    </div>
</section>