<section class="hero-wrap hero-wrap-2" style="background-image: url(../../assets/images/bg_1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9  text-center">
                <h1 class="mb-2 bread">Import Export Consultants</h1>
                <p class="breadcrumbs"><span class="mr-2"><a routerLink="">Home <i class="ion-ios-arrow-forward"></i>
                        </a></span> <span>Import Export Consultants<i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="my-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center heading-section ">
                <h2 style="border-bottom: 1px solid black;">D Exim Solutions Pvt. Ltd. Consultancy Services...! </h2>
                <p>To resolve the problems in Import Export Business we provide following diifrent services.</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-analysis"></span></div>
                    <div class="text media-body">
                        <h3>Types of Exports handeling</h3>
                        <p>Container Exports (FCL) - Full Container Load shipments. <br>
                            LCL shipments - Less Container Load shipments.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-business"></span></div>
                    <div class="text media-body">
                        <h3>Software for Export Documentation</h3>
                        <p> Commercial Invoicing, Packing list, Tax Invoice, SDF, Annexure-A & Challans for E-Way Bills.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-insurance"></span></div>
                    <div class="text media-body">
                        <h3>Import Exports Job Placment</h3>
                        <p>Recruitment for all types of companies in export import sector</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-money"></span>
                    </div>
                    <div class="text media-body">
                        <h3>GST Consultancy</h3>
                        <p>In our Servics mostly we are providing day to days GST updates
                            We are providing updates of new amendmends in gst rules & practices.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-line-chart"></span>
                    </div>
                    <div class="text media-body">
                        <h3>IGST refund claims filling
                        </h3>
                        <p>Agianst direct export - With payment of IGST <br>Updates on new notifications
                            Exchange rates notifications updates

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center ">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="fa fa-file-text"></span>
                    </div>
                    <div class="text media-body">
                        <h3>Audit of Co-operative Society</h3>
                        <p>Co-operative societies the terms receipt and payment are used for two-fold aspect of double
                            entry system.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="ftco-intro ftco-no-pb img" style="background-image: url(../../assets/images/bg_3.jpg);">
    <div class="container">
        <div class="row justify-content-center mb-1">
            <div class="col-md-10 text-center heading-section heading-section-white ">
                <h2 class="mb-0">D Exim Solutions Pvt. Ltd. Best Consultant in Import-Export Business...! </h2>
            </div>
        </div>
    </div>
</section>

<section class="registration">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i> Types of Exports handeling
                </h2>
                <p> <i class="fa fa-angle-double-right"></i> <b>Container Exports (FCL) -</b> Full Container Load
                    shipments.
                </p>
                <p> <i class="fa fa-angle-double-right"></i> <b>LCL shipments -</b> Less Container Load shipments.
                    <br>Courier, Air & Sea mode all types shipments handeling.
                </p>
                <p> <i class="fa fa-angle-double-right"></i> <b>Break bulk shipments -</b> Break bulk (sometimes called
                    “breakbulk”) is cargo or goods that are too big to fit inside of a container. Examples of break bulk
                    are wood, rolls of steel, and parts of wind turbines. These goods get put on racks or pallets and
                    loaded by cranes.

                </p>
                <p> <i class="fa fa-angle-double-right"></i> <b>From Pick-up to ODC vehicles arrangments -</b> As we
                    know the transportation is playing major role in any Import Export. We have all types of vehicles
                    avalable for from small Pick-up, LPT, Trucks, ODC Trucks for handeling all types shipments.

                </p>
                <p> <i class="fa fa-angle-double-right"></i> <b>Marine Insurance -</b> Insurance of any import export
                    shipments is needed as per Incoterms. To avoiding any types of losses we need Insurance also in
                    Import Export Business.
                </p>
                <p> <i class="fa fa-angle-double-right"></i> <b>International Packaging -</b> Packaging playing major
                    role in import export business. Wooden, Plywood, Corrugated Boxes, Plastic, Steel pakaging of cargo
                    is must be observed by consignee & customs offires, for that we have need to take care properly of
                    any packaging.
                </p>
                <p> <i class="fa fa-angle-double-right"></i> <b>International warehousing -</b> Warehouse is very
                    important part of import export business. In india verious types of warehouse availabels to keep our
                    cargo safe.
                </p>
                <p> <i class="fa fa-angle-double-right"></i> <b>Fumigation -</b> Fumigation is mandetory in import
                    export.
                </p>

            </div>


            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i> software for Export Documentation -

                </h2>
                <p> <i class="fa fa-angle-double-right"></i> Commercial Invoicing, Packing list, Tax Invoice, SDF,
                    Annexure-A & Challans for E-Way Bills.

                </p>
            </div>

            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i> Import Exports Job Placment</h2>
                <p> <i class="fa fa-angle-double-right"></i> Recruitment for all types of companies in export import
                    sector
                </p>
                <p><i class="fa fa-angle-double-right"></i> <b>Useful Links :</b><br>
                    <a href="https://www.icegate.gov.in/" target="_blank">www.iecgate.gov.in</a><br>
                    <a href="https://www.dgft.gov.in/CP/" target="_blank">www.dgft.gov.in</a><br>
                    <a href="https://www.gst.gov.in/" target="_blank"> www.gst.gov.in</a><br>
                    <a href="http://jawaharcustoms.gov.in" target="_blank"> http://jawaharcustoms.gov.in </a><br>
                    <a href="http://115.112.238.87" target="_blank">http://115.112.238.87 </a><br>
                    <a href="https://commerce.gov.in" target="_blank"> https://commerce.gov.in</a><br>
                    <a href="https://www.mcciapune.com" target="_blank">https://www.mcciapune.com</a><br>

                </p>
            </div>
            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>GST Consultancy </h2>
                <p> <i class="fa fa-angle-double-right"></i> We know that due to day to days activity by employees they
                    have chanches to make mistakes in their office work. <br>
                    Some times mistakes makes big losses, to avoid losses we are providing our services.
                </p>
                <p> <i class="fa fa-angle-double-right"></i>In our Servics mostly we are providing day to days GST
                    updates
                    We are providing updates of new amendmends in gst rules & practices.<br>
                    We are providing information about all actual practices of GST, which helps in your day to days GST
                    work.
                </p>
                <p> <i class="fa fa-angle-double-right"></i>The ITC which is allowed, not allowed, RCM, Employee related
                    ITC etc.<br>
                    Month to month checking of documents to Identifying mistakes<br>
                    Reconciliation of ITC with GSTR-2A with accounts books to avoid wrong credit avail
                </p>
                <p> <i class="fa fa-angle-double-right"></i>Checking of Sales Invoices & Supliers Invoices for proper
                    Information of GST No.,<br> Tax rate & HSN/SAC codes
                    Checking of job work challans
                    E-Way bill related compliances.
                </p>
                <p> <i class="fa fa-angle-double-right"></i>Checking of Self Invoices under Reverse Charge <br>
                    Checking of the Credit notes / Debit notes towards outward supplies / inward supplies<br>
                    GSTR-1 filling - Monthely, Quarterly<br>
                    GSTR-3B filling<br>
                    ITC-04 filling (Job work Return)<br>
                    GSTR-9/9C
                </p>

            </div>


            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>IGST refund claims filling</h2>
                <p> <i class="fa fa-angle-double-right"></i> Agianst direct export - With payment of IGST

                </p>
                <p> <i class="fa fa-angle-double-right"></i>Updates on new notifications <br>
                    Exchange rates notifications updates

                </p>
                <p> <i class="fa fa-angle-double-right"></i>HSN/SAC codes information</p>
                <p> <i class="fa fa-angle-double-right"></i>Job work challans (Principal to 1st job worker & 2nd worker)

                </p>
                <p> <i class="fa fa-angle-double-right"></i>Tax Invoicing, GST rates as per HSN/SAC code <br>
                    E-Way bill filling

                </p>

            </div>
            <div class="col-md-12 heading-section">
                <h2 class="mt-4"><i class="fa fa-chevron-circle-right"></i>Other support services</h2>
                <p> <i class="fa fa-angle-double-right"></i> DSC</p>
                <p> <i class="fa fa-angle-double-right"></i>GST software for Invoicing & Challans</p>
                <p class="mb-5"> <i class="fa fa-angle-double-right"></i> <b>Useful website : </b> <a href="https://www.gst.gov.in/" target="_blank"> www.gst.gov.in</a></p>

            </div>

        </div>
    </div>
</section>